[2016-10-20 06:22] 2m opened #1 "AWS S3 Integration"
Continued from https://github.com/akka/akka-stream-contrib/issues/75

[2016-10-20 06:24] 2m opened #2 "IronMQ connector"
Continued from https://github.com/akka/akka-stream-contrib/issues/57

[2016-10-20 06:31] johanandren commented on #1
The one I started on but haven't really had time to move on with, not based on the aws java sdk but on top of akka http client: https://github.com/johanandren/awsync

Feel free to take any bits and pieces that are useful from it.

[2016-10-21 13:31] ktoso opened #4 "FTP connector"
To track the in progress PR: https://github.com/akka/alpakka/pull/3

[2016-10-21 20:17] agolubev commented on #1
I'm on it.
My intention is to implement some similar API like HTTP client has (with vocabulary from AWS).
Something like S3().fromObject and S3().toObject.
Actually I'm going to use AWS Java API. So please let me know if you are strongly recommending REST.
Also will take into account API of FileIO for having file based sink/sources

[2016-10-22 19:58] juanjovazquez commented on #1
Could [Apache jclouds](http://jclouds.apache.org/) be under consideration?. The idea would be to build the connector on top of the [blobstore](http://jclouds.apache.org/start/blobstore/) abstraction designed there. Thus, we can save a lot of time as [some integrations](http://jclouds.apache.org/reference/providers/#blobstore-providers), e.g. AWS S3, Google Cloud Storage or Azure Blobs, would be so

[2016-10-22 20:14] juanjovazquez commented on #1
Another argument that would support the use of jclouds is that the local file system could be used as just another blobstore provider. That can be very useful for testing purposes since you wouldn't be extra charged for cloud providers while maintaining the code unaltered. Changing environment would be a matter of configuration. Just my two cents.

[2016-10-23 01:47] agolubev commented on #1
jClouds uses AWS S3 REST API with javax.ws.rs and sync approach.
It looks good and is the wrapper that can be mocked for testing purposes. However there can be additional delay because of several layers of abstractions.

[2016-10-23 13:18] johanandren commented on #1
The AWS Java API is also a synchronous client using the AWS XML HTTP APIs, no?

[2016-10-23 13:43] agolubev commented on #1
yeah going to look closely to https://github.com/aws/aws-sdk-java

[2016-10-23 13:44] agolubev commented on #1
main purpose is to choose the fastest API

[2016-10-23 14:31] juanjovazquez commented on #1
The work with blobstore cloud providers always introduces some inherent latencies. I only say that it might worth it to leverage the job done by jclouds and try to not reinvent the wheel. Anyway, taking into account other blobstore providers might bring a better perspective on how to deal with the problem in a more generic way.

[2016-10-24 03:25] agolubev commented on #1
Did some digging into AWS Java API.
It implements async API with `TransferManager` and it's for upload/download objects. It is based on `java.util.concurrent.Future`. Minimum task is to transfer the whole object (in case of single download) or some portion in case of multiple download/upload.
It uses REST API.

[2016-10-25 02:28] agolubev commented on #1
Camel AWS uses AWS Java API.
jclouds uses AWS REST API directly.
So question to core team (@ktoso @patriknw ) - do you want it:
* soon and universal with jclouds or AWS API
* or fast-functioning with akka-http and AWS REST?

[2016-10-25 06:05] 2m commented on #1
My vote goes for akka-http. It would be great validation for the current Akka Http Client. Also could be a driving force to implement missing features in the Akka Http Client.

[2016-10-25 07:28] patriknw commented on #1
I don't think we should re-invent the wheel. If there are good client libraries we should integrate with them instead of developing the same thing again. It might not always be the optimal solution, but I think time to market and maintenance cost are more important at this stage of the project.

I have no opinion (experience) of jclouds vs aws java api.

[2016-10-25 07:33] johanandren commented on #1
I think pure async would be nice but probably a lot of work, I don't see what jclouds improves over the AWS Java client except for an abundance of abstraction layers, so my vote is for building it on top of the Java client for now.

[2016-10-25 08:15] juanjovazquez commented on #1
The blobstore abstraction carried out in jclouds comes from the fact that there're a lot of similarities among different cloud providers so that it's feasible, and maybe convenient, to create this abstraction layer. Something similar happens with traversing on file systems and that's the reason why Camel guys created an abstraction layer on which they built some similar connectors, e.g. File or FT

[2016-10-25 08:18] ktoso commented on #1
I agree that using existing API is good as first step. Then we have a working integration, and a more "reactive native" one can follow soon after if someone has time to do it.

[2016-10-27 14:32] joearasin commented on #1
We have an akka-http based implementation that works, but is a bit rough around the edges. This includes a library for signing Akka-HTTP requests for AWS. We'd love to contribute it to the project.

[2016-10-27 14:34] joearasin commented on #1
As far as question marks go -- one (nontrivial) bit in S3-land is credentials. It's be really sweet to implement a Source that produces a stream of AWS credentials, b/c it's a nice abstraction around S3 credential refreshing on EC2 boxes.

[2016-10-27 20:10] ktoso commented on #1
So... looking forward to PRs. We're happy to accept either I think, if one's more tested and used in the real world we'd prefer that - your impl is @joearasin I assume, right?

The signing AFAIR is general for just credentials + requests right, so would be reusable for other AWS APIs as well?

Please coodrinate here with others who wanted to contribute.

[2016-10-27 20:12] joearasin commented on #1
The library is bluelabsio/s3-stream -- and yeah -- the signing is reusable (and I have the signing code split off in a separate module).

[2016-10-27 20:42] agolubev commented on #1
Amm so the question is who will do the initial PR and when. Migrating should be faster. @joearasin are you going to do PR? or I can do PR (probably during weekend) and you'll review it then?

[2016-10-31 12:15] juanjovazquez commented on #4
After the first steps implementing the FTP connector I'd need your help / opinion in order to come up with a decent API for end users and also to clarify what would be the scope of the component in terms of offered capabilities.

As I see it, we need to solve these four typical scenarios : browsing, retrieving, creating and deleting/moving, always following the reactive streams philosophy of cours

[2016-10-31 18:12] agolubev commented on #1
Is anyone doing anything here? I've actually put together small prove of concept with jclouds.
Still willing to move/enhance s3-stream within alpakka (as we'll start not from scratch here)

[2016-10-31 18:52] joearasin commented on #1
I'm putting something together -- One thing I'd like to figure out before PR is there was one issue we were having a bit of a debate over, and I wanted to open it up here as to whether we should merge in the PR over there before bringing things here.

Here's the issue at hand: https://github.com/bluelabsio/s3-stream/issues/12 -- In particular, is writing the chunks to the file system something tha

[2016-10-31 19:03] agolubev commented on #1
I think we should skip this for now and add afterwards.
My opinion is if this is global settings it should be placed in config files where akka config is.

[2016-10-31 19:04] agolubev commented on #1
@joearasin  have you consider some application that mock S3 service locally? I mean I did not find tests for S3 source itself.

[2016-10-31 19:06] joearasin commented on #1
That's another question worth asking. I absolutely want to test that code -- is there going to be a preferred testing approach in this repo for external services?

[2016-11-01 08:03] patriknw commented on #1
We would like to use Travis, at least initially. Anything you can run on Travis is fine, we can start things from the travis startup script. Lightweight testing is of course preferred to keep build times short and in the end there might be a limit on how much things we can run on (free) Travis.

[2016-11-01 09:11] patriknw commented on #4
I like the factory methods as you show in the example

[2016-11-01 10:01] patriknw opened #11 "FileTailSource"
Move from https://github.com/akka/akka-stream-contrib/tree/master/contrib/src/main/java/akka/stream/contrib

[2016-11-01 10:02] patriknw commented on #11
@johanandren perhaps something you would like to pick up
I think we should have an alpakka-file module.

[2016-11-01 10:02] patriknw opened #12 "DirectoryChanges"
move from https://github.com/akka/akka-stream-contrib/tree/master/contrib/src/main/java/akka/stream/contrib

[2016-11-01 10:03] patriknw commented on #12
Related https://github.com/akka/alpakka/issues/11

[2016-11-01 10:03] johanandren commented on #11
Both that one and the DirectoryChanges then I guess?

[2016-11-01 10:03] patriknw commented on #12
cc @johanandren

[2016-11-01 10:04] johanandren commented on #11
Yeap. I can create such a module and move these two.

[2016-11-01 19:11] filosganga commented on #1
I have used s3ninja (http://s3ninja.net/) successfully for testing. However, it is complex to embed as the main class is defined in the root package. I have written a docker based test that starts and stops the s3ninja docker container using the Spotify docker client. I am quite happy with that.

s3ninja does not have all the s3 features but it is enough in general.

[2016-11-02 07:00] patriknw commented on #2
@filosganga This looks interesting. PR is welcome.

[2016-11-02 10:09] filosganga commented on #2
@patriknw I will do that hopefully today. Should I open a PR on s3-stream or rather here?

[2016-11-02 10:10] filosganga commented on #2
Never mind bad thread

[2016-11-02 10:38] patriknw opened #15 "scaladsl vs javadsl"
We should use the convention with `scaladsl` and `javadsl` packages to make it consistent with other things (e.g. Akka Streams). We should do this before the 0.1 release so that we have good examples.

[2016-11-03 15:26] #11 closed

[2016-11-03 15:26] #12 closed

[2016-11-04 07:29] 2m opened #20 "AmqpConnectorsTest.publishFanoutAndConsume"
[code]

https://travis-ci.org/akka/alpakka/builds/173177910

[2016-11-04 08:22] johanandren commented on #20
(should we have a failed label here like in Akka to keep these separated from actual confirmed bugs?)

[2016-11-04 09:27] ktoso commented on #20
yeah, porting entire tag structure from akka would make sense IMO.

[2016-11-04 11:44] #15 closed

[2016-11-08 13:13] jypma commented on #1
It doesn't look like s3ninja does multipart uploads, which is the main use case for s3stream. I had on my own list to try out https://github.com/ianbytchek/docker-riak-cs , which _is_ supposed to be a much more complete S3 implementation. As long as that can be brought up on Travis.

[2016-11-08 13:14] jypma commented on #1
Or one could just use WireMock perhaps, the I/O isn't going to be that much.

[2016-11-08 14:21] jypma commented on #1
Just started https://github.com/akka/alpakka/pull/24 to get this rolling.

[2016-11-08 14:59] agolubev commented on #1
Cool. Next questions:
1. Are we going to merge this this PR to master or some branch will be used for some time? I'm voting for branch
2. Do we need to support Java API? Java tests. We can postpone but at least we need ticket for this.
3. Perhaps need Ticket for testing
4. Should we make PR review and create tickets based upon feedback? (trying to jump in and take some ticket for myself =) )

[2016-11-08 15:08] jypma commented on #1
@agolubev Feel free to branch off mine and add what you feel could do with additional tests. I can put them on top of my branch in the PR then.

[2016-11-08 15:17] agolubev commented on #1
@jypma I would rather move some settings to config file. If you are Ok

[2016-11-08 15:23] jypma commented on #1
@agolubev Makes total sense. Maybe even model them as a nice `SettingsCompanion` thingy that one can then pass along.

[2016-11-08 15:53] patriknw commented on #1
Isn't it easier to collaborate if we just work on master? We can add something to the build to avoid releasing this module until it's ready.

[2016-11-08 17:22] jypma commented on #1
Sure, master works for me. I'll see if I can unbreak the build tomorrow :)

[2016-11-09 11:23] patriknw opened #25 "ReactiveSocket connector"
[ReactiveSocket](http://reactivesocket.io/) is interesting, especially for integration between microservices (implemented with different technology stacks).

[reactivesocket-java](https://github.com/ReactiveSocket/reactivesocket-java) API is based on Reactive Streams Publisher and Subscriber and could therefore be used directly with Akka Streams.

However, it might be beneficial to provide a more

[2016-11-09 11:24] patriknw commented on #25
So far, I'm not convinced that the value of such a wrapper API would add much value compared to using the `reactivesocket-java` API directly with Akka Streams Publisher/Subscriber conversions. I'll dig deeper.

[2016-11-09 14:19] johanandren commented on #25
After looking at it a first time I think that on the server side we could provide a nice `SocketAcceptor` integration, something closer to how the Tcp streams api looks server side perhaps, client side maybe not so much need.

[2016-11-10 07:48] 2m opened #28 "Use new theme for unidoc"
Make sure that scaladoc uses theme from 2.12 when docs are being deployed with `deployRsync`.

[2016-11-10 16:15] filosganga commented on #1
@jypma s3-ninja supports multipart upload as I am using it in another project. But if docker-riak-cs is more complete I am happy with that as well.

[2016-11-11 02:46] agolubev opened #30 "Move S3 configuration to conf file"
Continuation of #1 ticket

[2016-11-11 08:05] johanandren commented on #30
Support both loading from file and programatic config would be the nicest, IMO.

[2016-11-11 11:24] cheleb opened #34 "Caffeine Flow"
Hi
I can provide a [Caffeine](https://github.com/ben-manes/caffeine) flow.
Caffeine is a Cache librairie, I use to reconcile events, in memory.

Say event A, B, C

Let A(1), A(2), A(3), ....,  B(1), C(1) event to enter the flow, this flow will emit (A(1), B(1), C(1)) on reconciled OutLet and (A(2), A(3)) on Expired OutLet

Any interest out there ?

[2016-11-11 11:25] cheleb opened #35 "HBase connector"
Hi
  I can provide HBase (sink) connector.

  Any interest ?

[2016-11-11 11:26] cheleb opened #36 "CouchBase connector"
Hi
  I can provide Couchbase (sink) connector.

  Any interest ?

[2016-11-11 11:27] cheleb opened #37 "Geode connector"
Hi
  I can provide [Geode](http://geode.apache.org) sink and source (continuous query) connector.

  Any interest ?

[2016-11-11 11:27] cheleb opened #38 "Druid connector"
Hi
  I can provide [Druid](http://druid.io)  sink connector.

  Any interest ?

[2016-11-11 13:10] krasserm opened #39 "Eventuate connector"
[Already implemented](http://rbmhtechnology.github.io/eventuate/adapters/stream.html) in the [Eventuate](https://github.com/RBMHTechnology/eventuate) project and should be made accessible here too.

[2016-11-11 13:12] krasserm opened #40 "FS2 connector"
[Already implemented](https://github.com/krasserm/streamz#combinators-for-akka-stream) in the [Streamz](https://github.com/krasserm/streamz) project and should be made accessible here too.

[2016-11-11 14:31] #39 closed

[2016-11-11 14:31] #40 closed

[2016-11-11 19:14] ktoso commented on #38
Sure, thanks a lot in advance :-)

[2016-11-11 19:50] dluc opened #42 "Redirect website main URL to latest version"
Nice to see Alpakka website online 👍

It would be nice to allow this URL

and automatically redirect (302) visitors to the latest version. That URL currently returns 403.

[2016-11-12 01:24] stephennancekivell opened #43 "MongoDB connector"
Hi,

I can start the mongo connector.

[2016-11-12 01:39] stephennancekivell commented on #43
Never mind, reactive mongo has good support for akka-streams.
I guess  this is not required then. Ill close the issue.

http://reactivemongo.org/releases/0.12/documentation/release-details.html#akka-stream

[2016-11-12 12:23] patriknw commented on #43
Right, reactive mongo should be listed in the [external connectors](https://github.com/akka/alpakka/blob/master/docs/src/main/paradox/external-connectors.md). @stephennancekivell can you create a pull request adding it there?

[2016-11-12 12:25] patriknw commented on #38
sounds cool, please go ahead

[2016-11-12 12:26] patriknw commented on #37
sounds cool, please go ahead

[2016-11-12 12:26] patriknw commented on #36
that is useful, please go ahead

[2016-11-12 12:26] patriknw commented on #35
that is useful, please go ahead

[2016-11-12 12:28] patriknw commented on #34
sounds cool, please go ahead

[2016-11-12 13:02] dpfeiffer opened #44 "AWS SQS Connector"
Although there is an implementation of an SQS Source in https://github.com/MfgLabs/commons-aws, I can start one which does not need external dependencies (except aws-java-sdk-sqs) and is based on `GraphStage` and not `ActorPublisher`.

[2016-11-13 08:05] hseeberger opened #47 "Server-Sent Events Connector"
[Server-Sent Events](https://www.w3.org/TR/eventsource/) (SSE) are a W3C standard for streaming simple UTF-8 encoded text based events via HTTP from a server to a client (one-way).

While the primary focus is pushing events from a webserver to a webbrowser (well supported except for IE), SSE can also be used to exchange events between services, i.e. allow for event-based collaboration. An example

[2016-11-13 08:51] johanandren opened #48 "JMS connector"
Likely not the most exciting connector to write, but I think it would be interesting to a lot of Java people needing to integrate JEE things.

[2016-11-13 09:04] hseeberger opened #49 "Switch to scalafmt"
For me it looks like scalafmt is the future of Scala code formatters. Ain't this project a nice way to give it a try in the Akka world?

[2016-11-13 09:14] hseeberger opened #50 "Parallelize Travis build"
Instead of using a custom script (`sbt ... +test`) with sbt's flaky cross compilation support by `+`, better define multiple Scala versions in the Travis configuration and use `sbt_args`. See the [Travis docs](https://docs.travis-ci.com/user/languages/scala). This will spawn parallel builds for each Scala version.

[2016-11-13 10:59] #50 closed

[2016-11-13 11:48] ktoso commented on #49
I don't have a strong opinion on formatter choice here.
Only reason I'm a bit worried about scalafmt is that it's again someone's grad project,
so I'm afraid if it will continue to be developed once it's served it's graduation purpose hm...

[2016-11-13 12:08] hseeberger commented on #49
There are 30 contributors to scalafmt: https://github.com/olafurpg/scalafmt/graphs/contributors.
Scalariform has 37, i.e. almost the same number even though it is years older. I hope that (a) the fact that Scalariform is very hard to maintain and (b) the upcoming hype about ScalaMeta will result in a vibrant community around scalafmt. But hey, I don't have a crystal ball ...

[2016-11-13 12:13] ktoso commented on #49
Yeah, would be nice if it takes off.
I wouldn't mind applying it in alpakka first, PR please? :)

[2016-11-13 15:57] hseeberger commented on #49
Here's the PR: https://github.com/akka/alpakka/pull/52

[2016-11-13 15:58] hseeberger commented on #49
I have also updated sbt-header to the latest version and gave some love to some of the build files.

[2016-11-14 10:02] jypma opened #55 "FAILED: AmqpConnectorsTest"
[TimeoutException](https://travis-ci.org/akka/alpakka/jobs/175643872#L728) on `AmqpConnectorsTest`, but only for Scala 2.12. Timing issues? That timeout already is at 10 seconds...
[code]

[2016-11-14 10:23] stephennancekivell opened #57 "Cassandra Sink"
To track / discuss issue #56

[2016-11-14 12:08] patriknw opened #58 "Clarify introduction in documentation"
What is required of an Alpakka connector?

The connectors in the alpakka repository must have an Akka Streams api (for java and scala). External connectors must have Akka Streams or Reactive Streams api.

[2016-11-14 19:58] myfear commented on #48
Anybody who want's to contribute here can use my WildFly Swarm based example as an endpoint test. https://github.com/myfear/wfs-jms

[2016-11-15 03:33] skhatri commented on #58
Hello Patrik,
Would also be good to specify what you would want to take as part of core alpakka components and what you would like to see as external contributions.

Also, will you have a "core" module with ref implementation of some EAI Patterns, much like Camel's.

[2016-11-15 03:35] skhatri opened #60 "CSV Component"
I can write CSV component, if you like.

I was thinking of creating a CSVFlow as well as CSVSourceStage.
Where CSVFlow will take a ByteString and chunk it, the CSVSourceStage could be a wrapper around FileIO. Let me know if this will be an acceptable component.

[2016-11-15 03:37] skhatri opened #61 "Apple Push Connector"
If you like a push connector one for push as well as feedback based on first version of the Apple Push. Few of us are interested in helping with this.

[2016-11-15 05:43] hseeberger commented on #60
AFAIK Camel has it, too, so this makes sense to me.

[2016-11-15 05:45] hseeberger commented on #61
Could you please provide a little more details?

[2016-11-15 06:36] stephennancekivell commented on #60
Great idea!
Might be nice to wrap open csv or something to take care of the escaping nuance's.

Or scala-csv / pure-csv / mighty csv.

[2016-11-15 07:05] skhatri commented on #61
Sorry I wrote too many "push" in the previous comment.

So it would be a sink for an Apple Push Notification Service, whereby received data is forwarded to APN as a push notification event.

Similarly, the same package could have a Source for feedback information so you could then do actions on the list of invalid token.
There is APN component in camel as well.

the contract would be something lik

[2016-11-15 07:16] hseeberger commented on #61
I haven't known Apple Push – event though I'm a big Apple fanboy – so thanks for bearing with my questions! Is there an (asynchronous) Java or even Scala library to communicate with Apple Push? Or is it just HTTP?

[2016-11-15 07:34] patriknw commented on #58
The purpose of external connectors is if the connector is maintained in another github repository.

Otherwise it can be accepted as core Alpakka component if it has an Akka Streams api and is considered useful and in scope of the integration domain.

Yes, that is the purpose of the currently empty http://developer.lightbend.com/docs/alpakka/latest/patterns.html section of the documentation.

A pat

[2016-11-15 09:22] dpfeiffer opened #62 "Using Docker service on Travis fails Cassandra connector build"
I think it is related to that: travis-ci/travis-ci#5502

I tried to use docker service to run elasticmq as it is not available for Scala 2.12 yet. Even if elasticmq will be available soon as they are just waiting for akka-http, I think that other connectors could need docker as well.

[2016-11-15 09:50] skhatri commented on #61
One of the popular one for Java would be Java PNS (https://code.google.com/archive/p/javapns/)
Camel uses https://github.com/notnoop/java-apns for it's component.

A new push gateway is also available for Apple supporting HTTP/2 in the last year. The other libraries listed above and older gateway is still primarily used, I feel.

I was thinking of using the HTTP/2 based approach. Someone has a jav

[2016-11-15 09:54] hseeberger commented on #62
Oops :-(

[2016-11-15 09:57] dpfeiffer commented on #62
I think it would be better to run cassandra also in a docker container even it is available in Precise Travis images, so other modules can use docker as well.

[2016-11-15 10:02] hseeberger commented on #62
Fine for me. I do similar stuff for ConstructR (with etcd). What do others think?

[2016-11-15 10:04] ktoso commented on #62
About elasticmq: I expect @adamw to be able to release it as soon as we call the 10.0 which could be this week already. Refs: https://github.com/adamw/elasticmq/issues/84

Don't mind the docker solution in general though :)

[2016-11-15 10:20] jypma opened #63 "Discuss whether importing ts-reaktive-marshal would be a good fit"
The [marshalling part of ts-reaktive](https://github.com/Tradeshift/ts-reaktive/tree/master/ts-reaktive-marshal) (small presentation and demos [here](http://htmlpreview.github.io/?https://github.com/Tradeshift/ts-reaktive/blob/master/ts-reaktive-marshal/doc/presentation.html)) provides a DSL to describe bi-directional marshalling of custom data types to and from XML or JSON. A short example:
[code

[2016-11-15 10:25] 2m commented on #62
I think this sounds good. Lets run `cassandra` and `rabbitmq` in docker as well. Lets use the same docker images as we suggest to use on the development machines: https://github.com/akka/alpakka/blob/master/docs/src/main/paradox/cassandra.md#running-the-example-code
https://github.com/akka/alpakka/blob/master/docs/src/main/paradox/amqp.md#running-the-example-code

Even better, we could start docke

[2016-11-15 10:36] dpfeiffer commented on #62
@2m In general I agree that it would be cool to let the tests start the docker containers so it's easier to run all tests locally. I'm not sure if there is a sbt plugin for that right now.

I used https://github.com/whisklabs/docker-it-scala before but I don't think thats a good idea as well. Maybe providing a docker compose file as mentioned by in #24 would be a better idea?

[2016-11-15 11:04] hseeberger commented on #62
My experiments with automatic starting of containers didn't go well. docker-it-scala could be a way out. @dpfeiffer, why don't you like that (just asking, I have no experience at all with it).

But personally I prefer to start containers manually (we should provide scripts) for local tests and use the Docker service of Travis for CI. If we have the tests start containers, we can't use the Docker s

[2016-11-15 11:19] dpfeiffer commented on #62
I had some problems with it. Especially when it comes to using the same docker container from multiple test classes, because docker-it-scala starts and stops per suite. I think another problem will be trying to do that with the tests for the java api as they are no scalatest specs.

[2016-11-15 11:27] johanandren commented on #63
I recently created akka/akka#21826, sort of related to this

[2016-11-15 11:56] jypma commented on #63
Oh yes, don't mind if I plug the lib there as well :)

[2016-11-15 14:31] cheleb commented on #38
Hum, I'm stuck with scala 2.12 dependencies ... Afraid that we have to wait for a while until tranquility supports scala 2.12 (finagle deps ...)

[2016-11-16 01:28] agolubev opened #64 "S3: add support of bucket names with period (.)"
based on comment @andrewrapp https://github.com/akka/alpakka/pull/24#pullrequestreview-8701281

"Hi all, looking forward to the s3 support! I played around with it a bit and noticed a cert related error. The issues seems to be related to having periods "." in bucket names, which breaks the s3 wild card certificate. For example, if I have a bucket "has.dots" then I'll get the following error: Cause

[2016-11-16 14:12] #43 closed

[2016-11-16 14:13] patriknw opened #66 "Sort the connectors in alphabetic order"
in the documentation

[2016-11-16 14:25] 2m commented on #28
No more `deployRsync`

[2016-11-16 14:25] #28 closed

[2016-11-16 20:45] jvvasques opened #67 "Postgres connector"
I can contribute with a Postgres connector. Is there any interest?

[2016-11-16 21:11] jvvasques opened #68 "Cannot load Alpakka AMQP dependency"
Hi there!

I followed the [guidelines](http://developer.lightbend.com/docs/alpakka/latest/amqp.html) to add the AMQP Alpakka library and I'm getting a `unresolved dependency` error on sbt.

Bellow is a snippet of my build.sbt file. I am missing something like a resolver? Thanks!

[code]

[2016-11-17 11:14] johanandren commented on #68
`1be3b7fc` is some junk that probably ended up in the docs by mistake, it should be `0.1`

[2016-11-17 11:15] johanandren commented on #67
What would it do? A source of query results using the async postgres driver?

[2016-11-17 16:21] johanandren commented on #68
@2m do you have any clue, the .md file has "$version$" in it, which seems to have been replaced with a git revision?

[2016-11-17 16:22] johanandren commented on #68
@jvvasques where did you see that, if I go to http://developer.lightbend.com/docs/alpakka/0.1/amqp.html it has "0.1" as expected in the import instruction.

[2016-11-17 17:06] hseeberger commented on #49
Closed by #52.

[2016-11-17 17:06] #49 closed

[2016-11-17 17:16] patriknw commented on #49
@hseeberger @ktoso Let's make sure we assign the milestone for closed issue (or PR if there is no issue). It's the responsibility of the one that merges the PR to do that. The purpose is to know what is in each release.

[2016-11-17 17:31] patriknw commented on #68
it might be like that if you build the docs locally from a commit without tag

[2016-11-17 17:38] ktoso commented on #49
Right, will do.

[2016-11-17 18:16] joearasin commented on #60
Not sure if it's optimal, but we've been using something along the lines of this to write CSVs, built around commons-csv:

[code]

On top of this, one thing worth keeping ind mind with an API sort of like this is possibly padding the inputs, to deal with varying-length sequences that may be truncated.

[2016-11-18 07:59] 2m commented on #68
Couple of issues here that we need to solve. Tech Hub builds alpakka docs for every new commit to master, and it puts those under the [latest](http://developer.lightbend.com/docs/alpakka/latest/amqp.html). The version over these is only a short commit hash. This means, that tech-hub does not checkout tags when doing master docs build. This needs to be fixed, so the version becomes `0.1+17-6d6c77c2

[2016-11-18 08:43] hseeberger commented on #49
Got it!

[2016-11-18 09:57] patriknw commented on #47
sounds good, will it be listed as external connector with link to akka-sse?

[2016-11-18 10:00] ktoso commented on #47
SSE we'll also want to promote in Akka HTTP somehow.
I was thinking that we might focus on tagging projects on scala-index btw – such that akka-sse is tagged akka-http and alpakka etc.

[2016-11-18 11:53] jvvasques commented on #68
@johanandren I was forwarded to the `latest`alpakka docs and not `0.1`. Looks like the version that is exposed there is a short commit hash. @2m already identified the main issues

[2016-11-18 11:59] jvvasques commented on #67
Yes, that was my idea. In terms of design, I'd follow the same structure that you guys have on the Cassandra one

[2016-11-18 12:01] ktoso commented on #67
For JDBC actually https://github.com/slick/slick is an existing integration.
We should link to it :)

[2016-11-18 12:03] jvvasques commented on #67
Good point @ktoso !

[2016-11-18 12:12] patriknw commented on #38
I think we can have modules released only for 2.11 if needed. Should just be a matter overriding the `crossScalaVersion`?

[2016-11-18 15:20] BranislavLazic opened #71 "Fix groudId name for Cassandra connector"
Using:
`"com.typesafe.akka" %% "akka-stream-alpakka-cassandra" % "0.1"`
reported unresolved dependencies. However, using
`"com.lightbend.akka"` groupId made it work. Please update documentation.

[2016-11-18 15:23] ktoso commented on #71
Thanks for reporting, making the change is very simple, just edit the page here: https://github.com/akka/alpakka/edit/master/docs/src/main/paradox/cassandra.md
Thanks for your upcoming Pull Request with the fix then :)

[2016-11-18 16:15] hseeberger commented on #47
My idea is to split akka-sse into a core/server part which should go into Akka HTTP and a client/connector part which should go here. Packagewise the unreleased 2.0 is already split.

[2016-11-19 10:16] krasserm opened #74 "Generic Camel endpoint connector"
Provide a generic [Camel endpoint](http://camel.apache.org/components.html) connector that is compatible with the back-pressure model of Reactive Streams. Camel endpoints that are compatible with back-pressure are, for example, polling consumers, batch consumers and (async) producers. Not compatible are consumers that push messages downstream independent of demand, for example. A generic connector

[2016-11-20 08:18] patriknw commented on #74
Sounds great, I have to review the links you provided. Thanks

[2016-11-21 10:16] #62 closed

[2016-11-21 10:19] 2m opened #75 "Consolidate documentation about docker images required for tests"
It is now mentioned in `docker-compose.yml`: https://github.com/akka/alpakka/blob/e0afa9f89f8744b24356e344059cdfed1c1a7fed/docker-compose.yml#L1-L3

in amqp docs: https://github.com/akka/alpakka/blob/e0afa9f89f8744b24356e344059cdfed1c1a7fed/docs/src/main/paradox/amqp.md#running-the-example-code

and in cassandra docs:
https://github.com/akka/alpakka/blob/e0afa9f89f8744b24356e344059cdfed1c1a7fed/do

[2016-11-21 14:58] krasserm commented on #74
Thanks Patrik. The linked FS2 - Camel integration will be obsolete soon. I'm currently about to rewrite it to fully support back-pressure (using the Camel API directly and not akka-camel). This will allow us to have an FS2-based generic connector in the beginning. In a second step, there should be a direct Akka Streams - Camel integration. I'll let you know when I have an update.

[2016-11-21 15:01] patriknw commented on #74
Sounds good, thanks

[2016-11-21 20:03] #71 closed

[2016-11-22 05:23] areyouspiffy opened #77 "AWS Kinesis and DynamoDB"
A little over a month ago I started working on akka-http based dynamodb and kinesis clients [here](https://github.com/areyouspiffy/reactive-aws). Would this be helpful for me to port over here?

[2016-11-22 06:09] patriknw commented on #77
That sounds very interesting, thanks

[2016-11-22 07:31] savulchik opened #78 "ZeroMQ connector"
Is there any interest in adding a link to external ZeroMQ connector https://github.com/2gis/reactive-zmq ? Currently it provides a `Source[ByteString]` for unidirectional ZeroMQ sockets.

[2016-11-22 07:34] ktoso commented on #78
zmq would be definitely nice to integrate with. I wonder how to best expose it generally speaking, since it has multiple interaction patterns one might want to use it, not just as a Source. Do you have further plans to expose the other styles as well? Contributing to alpakka should be somewhat the beginning of a journey, in that sense :)

[2016-11-22 07:59] savulchik commented on #78
Unfortunately the development of the connector has been stalled and right now I've no plans to implement other use cases beyond `Source` due to lack of the use cases in production. Nevertheless I'm ready to transfer the project or contribute it's source code to alpakka.

[2016-11-22 11:23] markusjura commented on #77
I was not aware that such libraries exist when starting a Dynamo connector for Alpakka: https://github.com/markusjura/reactive-dynamo.

The current version is not yet in shape to use widely. The library has implemented currently only the activity stream API: http://docs.aws.amazon.com/amazondynamodb/latest/developerguide/Streams.html

@areyouspiffy Does it makes sense to merge our efforts? I am ha

[2016-11-22 11:41] jvvasques commented on #67
I'll put together a first version and issue an early PR on the weekend using Slick ;)

[2016-11-22 12:10] jvvasques commented on #68
Changed my `build.sbt` to `0.1` but I'm still getting unresolved dependencies

`build.sbt` sample
[code]

output of `sbt reload clean compile`

[code]

[2016-11-22 12:34] johanandren commented on #68
It seems the docs are using the wrong group id. It should be "com.lightbend.akka" not "com.typesafe.akka".

As a side note, Akka stream 2.0.1 is really old and will likely not work with Alpakka, please use the latest release (currently 2.4.12).

[2016-11-22 12:40] johanandren commented on #67
For slick there would not need to be a connector as it already implements reactive sockets, so just a link. Possibly some examples but I'm not sure where we'd put those.

[2016-11-22 12:41] ktoso commented on #67
^ reactive streams ;)
We could quickly show how to wrap it into an Akka Stream (`fromPublisher`) though

[2016-11-22 12:47] matsluni commented on #67
When I looked at it I just found out that there is a `DatabasePublisher` (http://slick.lightbend.com/doc/3.1.1/dbio.html#streaming) is there also a `Sink` (with some kind of back pressure)?

[2016-11-22 12:49] ktoso commented on #67
AFAIR there isn't a Sink for inserts in Slick, but I may be wrong - asking for a friend @szeiger ;-)
I think it'd be more universally useful to work on extending Slick with that than adding a one-off integration in Alpakka, WDYT?

[2016-11-22 14:08] areyouspiffy commented on #77
Hey @markusjura, the primary difference I can see between our two projects is that yours uses [AmazonDynamoDBStreamsClient](https://github.com/markusjura/reactive-dynamo/blob/master/reactive-dynamo/src/main/scala/reactive/dynamo/DynamoDbSource.scala#L34) (I think) and mine uses [akka-http](https://github.com/areyouspiffy/reactive-aws/blob/master/core/src/main/scala/reactive/aws/AwsClient.scala). T

[2016-11-22 14:34] jvvasques commented on #68
Thanks for the heads up @johanandren 🙏

[2016-11-22 14:45] szeiger commented on #67
This is still missing from Slick and would be a very useful addition. There's no reason to restrict it to inserts though. What we really need is a way to run DBIOActions with back-pressure support, i.e. a `Subscriber[DBIOAction]`. Currently there's only `db.run` which simply fails when the queue is full. This is great for web applications (where you want to fail fast instead of enqueuing even more

[2016-11-22 15:05] #68 closed

[2016-11-23 07:32] stephennancekivell commented on #55
I've noticed this as well, can we simply increase the timeout ?

[2016-11-23 08:25] xuwei-k commented on #61
https://github.com/relayrides/pushy support new HTTP/2 based protocol using netty 4.1.

[2016-11-23 09:14] 2m commented on #1
S3 support landed with #24

[2016-11-23 09:14] #1 closed

[2016-11-23 09:16] stephennancekivell opened #81 "Gitter Connector"
Hey,

Is anyone interested in a [Gitter](https://gitter.im/akka/akka) connector, It could be useful for chat bots and building skynet ;)

I can build on akka http and provide the json model as case classes.

[2016-11-23 09:18] 2m commented on #30
Fixed in #24

[2016-11-23 09:18] #30 closed

[2016-11-23 15:57] 2m commented on #55
Looks like a duplicate of https://github.com/akka/alpakka/issues/20

[2016-11-23 15:59] #55 closed

[2016-11-24 09:46] drewhk commented on #63
Looks interesting. I will probably take a look.

[2016-11-24 14:08] drewhk opened #82 "Apache IGNITE integration"
Seems like interest in it: https://issues.apache.org/jira/browse/IGNITE-532

[2016-11-24 18:00] jypma commented on #63
@ktoso mentioned that it may be a better fit to have `ts-reaktive-marshal` augment/replace the JSON framing support in `akka-http`, rather than have it in `alpakka`.

[2016-11-25 04:29] agolubev opened #84 "S3 client as akka extension."
Perhaps more like discussion point.

[2016-11-25 10:11] johanandren commented on #84
Wouldn't that limit it to accessing one s3 account per actor system? What about streaming things between different accounts?

[2016-11-25 14:16] #20 closed

[2016-11-25 19:21] agolubev commented on #84
It's possible (maybe need to create a ticket for adding such example in doc). API will be changed anyway.

[2016-11-26 01:02] agolubev opened #86 "Add WireMock tests to S3"

[2016-11-26 01:14] agolubev opened #87 "S3 DiskBuffer test fails sporadically"
[code]

[2016-11-28 02:58] agolubev opened #90 "Add anonymous access to S3"
Currently, there is only API  for authenticated access

[2016-11-28 08:25] johanandren commented on #87
90ms before failing seems extremely tight for running on a CI server, needs PatienceConfig with much higher value (in the Akka build we usually do somewhere along 3-5 seconds)

[2016-11-28 16:01] agolubev commented on #87
Ok, will add this

[2016-11-28 16:05] agolubev commented on #84
@johanandren, let me know if it makes sense.
And streaming things between accounts is one of use cases here. (will add tests for this case)

[2016-11-29 09:32] #4 closed

[2016-11-29 20:35] irishshagua opened #95 "AMQP Connect Should Support Different SSL protocols"
The default Rabbit MQ Connection Factory protocol for the version of the rabbit client in the dependencies (3.6.1) is TLSv1. This is not advised as per the [RabbitMQ site](https://www.rabbitmq.com/ssl.html) and has been updated in their 4.x series as per [here](https://github.com/rabbitmq/rabbitmq-java-client/issues/139)

The current AMQP Config doesn't offer the ability to select an alternate pro

[2016-11-29 22:42] irishshagua opened #97 "AMQP Source acknowledges messages too early"
Currently the AMQP source sends an acknowledgement back to the RabbitMQ server as soon as it sends the received message to the outlet.
https://github.com/akka/alpakka/blob/master/amqp/src/main/scala/akka/stream/alpakka/amqp/AmqpSourceStage.scala#L126

If anything happens to the message during the flow which would cause the flow to explode then the message will not be re-queued (although other mess

[2016-11-30 00:38] joearasin opened #98 "Implement Amazon's Request-signing Test Suite"
I was digging through some of my notes from originally building the S3 functionality and dug this up. Amazon provides a test suite for AWS signature libraries. It might make sense to use it.

http://docs.aws.amazon.com/general/latest/gr/signature-v4-test-suite.html

[2016-11-30 09:21] larousso opened #99 "Elasticsearch connectors"
It could be interesting to have source and flow for the corresponding scroll and bulk in elasticsearch.

[2016-11-30 10:43] ktoso commented on #98
That would be great indeed, anyone up for jumping on this task?

[2016-11-30 10:55] ktoso opened #100 "Improve README to explain that alpakka is a community driven effort"
Improve README to explain that alpakka is a community driven effort.
We should be clear about "if you contribute, it would be nice you'd maintain it as well" etc

[2016-11-30 11:08] viktorklang commented on #100
Perhaps word it as: Alpakka does not have contributors, it only has maintainers—frequent and infrequent—but everyone helps out. Alpakka loves new maintainers as well as old maintainers. :)

[2016-11-30 11:10] ktoso commented on #100
That is very cool wording actually :-) 👍

[2016-11-30 19:07] #100 closed

[2016-11-30 20:01] patriknw opened #103 "Add documentation for S3 connector"

[2016-11-30 20:04] #95 closed

[2016-11-30 21:00] patriknw opened #104 "define Committable"
For sources that read from a queue and acknowledge consumption later downstream.

Something like `Committable` in akka-stream-kafka.
https://github.com/akka/reactive-kafka/blob/master/core/src/main/scala/akka/kafka/ConsumerMessage.scala#L37

[2016-12-01 10:23] johanandren commented on #97
It's not a bug, it was a design decision when it was written to keep the scope reasonable.

[2016-12-01 10:33] johanandren commented on #97
Relevant ticket #104

[2016-12-01 10:34] johanandren commented on #97
I should add that such functionality would be great to have.

[2016-12-01 10:38] johanandren commented on #104
Should it go in Alpakka and not directly in Akka Streams?

[2016-12-01 10:40] ktoso commented on #104
It can start here, kind of as an incubator?

[2016-12-01 11:29] drewhk commented on #104
It should not be just Committable, but Repliable. Commit is a specific use case of in-stream replies.

[2016-12-01 11:30] drewhk commented on #104
Also, an adapter stage is needed that takes a flow of Reply-Request and turns it into a Source[Repliable]

[2016-12-01 13:11] patriknw commented on #104
I was creating the issue here to spark discussion and explore it with concrete examples from the Alpakka connectors. When it has matured the interfaces should move to akka-stream so that same can be used in Alpakka and akka-stream-kafka (and other places)

[2016-12-02 08:31] stephennancekivell commented on #57
this has been merged in, so I guess we can close the issue.

[2016-12-02 08:31] #57 closed

[2016-12-02 08:33] patriknw commented on #57
right, thanks

[2016-12-02 10:54] #44 closed

[2016-12-02 12:28] TimothyKlim commented on #90
Now you can pass as an argument to do that:
[code]

[2016-12-03 08:50] filosganga commented on #104
I need it as well for ironmq

[2016-12-03 11:47] filosganga commented on #2
I have started to integrate my ironmq.rx in alpakka. For testing, as you are using docker, I am looking at this:
http://dev.iron.io/mq/3/on-premise/installation/single.html

More news coming.

[2016-12-03 11:50] filosganga opened #109 "S3 Encryption support"
Add Encryption support for S3, PR started against s3-stream:
https://github.com/bluelabsio/s3-stream/pull/15

[2016-12-04 05:17] agolubev commented on #90
Basically, ticket was about removing AWSCredentials and region from S3 constructor as it's redundant for anonymous access (when object is available with public read)

[2016-12-04 13:03] filosganga opened #111 "Allow Mqtt tests to run in parallel."
The Mqtt tests can run in parallel as long as we use a different port for each test.

[2016-12-06 10:26] patriknw commented on #74
@krasserm I took a closer look at https://github.com/krasserm/streamz#dsl-for-as and some of the source code in that project. I have some questions.

- There is no Java API?
- How is back-pressure handled? Where are the blocking calls and how are they managed?
- It would be better to implement with `GraphStage` instead of `ActorPublisher`. Do you see any specific reason why that would not be possi

[2016-12-06 16:15] krasserm commented on #74
It's mentioned in the docs that it is coming soon and there's also a ticket ([#27](https://github.com/krasserm/streamz/issues/27))

Back-pressure is handled by using a polling consumer. Whenever there is downstream demand [consumerTemplate.receive](https://github.com/krasserm/streamz/blob/v-0.6/streamz-camel/src/main/scala/streamz/camel/akkadsl/EndpointConsumer.scala#L60) is called (with a timeout

[2016-12-06 18:43] patriknw commented on #74
Thanks for clarifying. I was mostly curious about the back-pressure. That sounds good, but dedicated dispatcher is probably needed. We default to `akka.stream.default-blocking-io-dispatcher` for such things.

ActorPublisher is a low level api for implementing Reactive Streams Publisher with higher risk of getting it wrong. It's not at all as natively integrated with Akka Streams as GraphStage. E.g

[2016-12-07 06:18] krasserm commented on #74
The Akka Streams - Camel integration of Streamz is completely independent of FS2. After splitting the current `streamz-camel` jar into one for Akka Streams (e.g. `streamz-camel-akka`) and another one for FS2, the only dependencies of `streamz-camel-akka` will be Akka Streams and Camel (no FS2).

I will also move the Akka Streams - Camel documentation into a separate self-contained markdown file th

[2016-12-07 08:16] patriknw commented on #74
Sounds excellent, @krasserm
We release Alpakka frequently whenever something interesting enough has been merged.

[2016-12-07 08:37] krasserm commented on #74
Alright, I'm quite busy at the moment but I hope to have step 1 ready in 2 weeks or so.

[2016-12-07 09:05] patriknw commented on #74
thanks

[2016-12-09 09:43] schmitch commented on #67
Actually we needed something like that for CSV generation and we used a *pretty simple* GraphStage to do so, it's quick and dirty but actually it does the job: https://gist.github.com/schmitch/ae48eebf76339896680aa3cb5a70bdec
Guess something like that is super useful. Probably would've been even more useful if slick/quill/others would've have an easy integration. (our use case is not general, sinc

[2016-12-11 16:37] iozozturk opened #115 "MongoDb Connector based on official driver"
Hi all,

I know that MongoDb connector is already mentioned and closed at #43 . I think not everybody is using that driver for MongoDb.

I have been using [official driver](http://mongodb.github.io/mongo-scala-driver/) for a while and it is good and reactive. It also has a compatibility with [reactive streams](http://mongodb.github.io/mongo-scala-driver/1.2/integrations/) whereas it requires a bit

[2016-12-11 18:52] juanjovazquez opened #116 "FTP connector: improve type safety regarding configuration settings"
Currently, it's possible to build `Source` instances from wrong setting types. For instance, you could build a `Source` for `FTP` from `SftpSettings`. The error would be thrown in runtime instead of in compilation time.

[2016-12-12 11:25] aserrallerios opened #118 "Amazon SQS delete msg Flow/Sink"
I'm wondering if it would be useful for the community to provide a SQS Sink that deletes the messages from the remote queue. As you know, the current SQS Source implementation does not remove messages from the queue, so it must be handled manually.

What I propose is to have a `Sink[com.amazonaws.services.sqs.model.Message, _]` to easily get *at-least-once* semantics on your code:

[code]

In addi

[2016-12-13 09:19] s12v commented on #118
+1

I have implemented something similar here: https://github.com/s12v/akka-stream-sqs/blob/master/src/main/scala/me/snov/akka/sqs/shape/SqsAckSinkShape.scala

Also it would be nice to have SqsSink producing SQS messages: https://github.com/s12v/akka-stream-sqs/blob/master/src/main/scala/me/snov/akka/sqs/shape/SqsPublishSinkShape.scala

I can port my code to alpakka

[2016-12-13 11:15] johanandren commented on #115
Is there any significant pros with using the official driver over the reactivemongo driver?

[2016-12-13 12:49] #116 closed

[2016-12-13 12:57] iozozturk commented on #115
I don't think there is whereas people might feel safer to go with the official driver. And there are already applications using official driver. Since reactive mongo is an external connector, should they mix one more driver(reactivemongo) as a dependency to be able to use the Alpakka mongo connector?

[2016-12-13 13:01] patriknw commented on #115
@iozozturk I don't mind listing both alternatives. Will you create a PR?

[2016-12-13 13:27] iozozturk commented on #115
@patriknw Ok I will create a PR for this

[2016-12-13 16:10] krasserm commented on #74
Step 1 is completed:

- Separate `streamz-camel-akka` module/jar with Akka Streams and Camel dependencies only
- Separate documention for the Camel DSL for Akka Streams:
  - [Scala DSL](https://github.com/krasserm/streamz/tree/master/streamz-camel-akka#scala-dsl)
  - [Java DSL](https://github.com/krasserm/streamz/tree/master/streamz-camel-akka#java-dsl)
- [Example application](https://github.com/k

[2016-12-14 15:22] #35 closed

[2016-12-14 22:25] devsprint commented on #98
Hi, I've started to implement a new test suite using Amazon provided test suite. First problem that I have found with the current implementation is the missing hash of the payload (hash of empty string) in building Canonical Request. In Canonical Request object:
`val hashedBody = req.headers.find(_.name == "x-amz-content-sha256")
.map(_.value).getOrElse("")`

See: [Task 1: Create a Canonical Reque

[2016-12-15 14:22] dpfeiffer commented on #118
@s12v I just stumbled upon your repo. If you like I can help you porting your code to alpakka.

[2016-12-15 15:05] s12v commented on #118
@dpfeiffer, thanks! I'll try to create a PR this weekend

[2016-12-16 15:47] cheleb commented on #38
I tried to  override the properties but without success
https://github.com/cheleb/alpakka/blob/druid/build.sbt#L24

Any idea ?

[2016-12-16 22:39] stephennancekivell commented on #115
I'd also like to see this. Reactive mongo is currently based on akka (2.3.x) without scala 2.12. Where mongo-scala-driver is netty based with current 2.12.
So there maybe benefits with dependency versions.

It also looks like there are some performance benefits in the mongo-scala-driver.
http://evojam.github.io/mongo-drivers-benchmarks/

[2016-12-18 19:28] patriknw commented on #38
I guess it's something special because of the `Common` auto plugin. @2m How to define another crossScalaVersion for a specific project?

[2016-12-19 04:44] 2m commented on #38
I think you forgot to reload the project after editing the build file:
[code]

which is with the following configuration:
[code]

[2016-12-19 04:48] 2m commented on #38
I just tried with your branch and it works. :)

[code]

[2016-12-19 12:00] devsprint commented on #98
@joearasin @ktoso implementation is completed. There is only one test that is skipped (you'll see in the code). This is because I did not found a way to build a HttpRequest with body, without having it adding the charset part to content type. If you know a way to do this, then I will update the code in a second.

[2016-12-19 12:12] devsprint opened #122 "Add Amazon Kinesis Firehose support"
Integrate Amazon Kinesis Firehose such that data from streams can be pushed to S3/Redshift to be used for analytic processes.

[2016-12-19 21:54] irishshagua opened #124 "AMQP BindingDeclaration swapped queue and exchange name"
When the BindingDeclaration is being converted to a queueBind request, the queue name and exchange name are in the wrong order. Consider the below example for a newly created queue which you are trying to bind to an existing exchange:

    package akka.stream.alpakka.amqp

    import akka.actor.ActorSystem
    import akka.stream.ActorMaterializer
    import akka.stream.alpakka.amqp.scaladsl.AmqpSo

[2016-12-21 14:12] #124 closed

[2016-12-21 15:32] #86 closed

[2016-12-22 06:50] patriknw opened #127 "failed: MqttSourceSpec"
This is failing a lot:

[code]

https://travis-ci.org/akka/alpakka/jobs/185785246

[2016-12-22 09:53] #48 closed

[2016-12-25 13:50] filosganga commented on #127
My PR #112 may be able to fix it.

[2016-12-25 14:08] filosganga commented on #127
Not it does not and I am experiencing the same issue randomly. I think @2m was right and the best option will be using docker. But to do that we need a native way to push messages to the mosquitto server as the tests rely on that at the moment.

[2016-12-27 01:14] 2m commented on #127
I think I'll add MqttSink. It will help move broker to docker but is also
generally usable.

2016-12-25, sk 22:08, Filippo De Luca <notifications@github.com> rašė:

[2016-12-27 15:23] aserrallerios opened #130 "SQS local buffering cannot be deactivated"
SqsSource is configured using

[code]

To deactivate local buffering one would think that it's enough to give as configuration:
* maxBufferSize = 1
* maxBatchSize = 1

That won't work at all. If you look carefully the code you'll see that there are not retries if the buffer is not _below_ the latest batch call:

https://github.com/akka/alpakka/blob/master/sqs/src/main/scala/akka/stream/alpakka/sqs

[2016-12-27 18:39] dpfeiffer commented on #130
@aserrallerios I agree that for the scenario you tried the Source will stop loading elements from SQS. But also with your proposed changes to the logic you would still have at max 1 element in the buffer:

* buffer.size == 0, downstream pulls
* 1 message received, added to the buffer, removed from the buffer and pushed downstream
* requesting new message from sqs ( `buffer.size <= settings.maxBuff

[2016-12-28 13:16] 2m commented on #127
#131 moves away from the in memory broker

[2016-12-28 18:24] cheleb commented on #38
(Sorry for this late reply)
I agree that "druid/crossScalaVersions" print right configuration. But AFAIU
+package still tries to package 2.12.x version.

[2016-12-28 21:11] neowulf33 opened #132 "S3: Allow clients to pass in metadata headers to S3"
More notably - allow S3 headers such as "x-amz-meta-*"

[2016-12-29 17:12] juanjovazquez opened #133 "FTP: Improve thread-safety not sharing FTP clients"
Thread safety needs to be improved as it's known that Apache Commons `FTPClient` is not thread-safe. Currently, every instance of the client is shared by all possible stream materializations, even though every materialization produces its unique connection handler. In order to overcome this, every materialization will own its own ftp client instance.

[2016-12-30 10:46] aserrallerios opened #135 "SQS Source has unbounded parallelism"
Every time downstream pulls when the buffer is not full, a new async request is spawned using `AmazonSQSAsyncClient`, thus ignoring the `longPollingDuration` or the `maxBufferSize` configuration. This makes it unusable and dangerous.

I understand that throughput of this Source is achieved with parallelism of requests of `AmazonSQSAsyncClient`. This client can be instantiated with a custom thread

[2016-12-31 14:10] 2m commented on #38
Aha. It looks like we will have to use [sbt-doge](https://github.com/sbt/sbt-doge) until sbt adds support for sub-project cross scala version support.

[2017-01-02 12:53] dpfeiffer commented on #135
@aserrallerios What do you think of configurable parallel async request count? This would allow to keep throughput high if needed but would also allow to keep costs low. I'll try to open a PR by the end of the week.

[2017-01-03 22:59] aserrallerios commented on #135
There are some problems with that.

* You'd need to configure `AmazonSQSAsyncClient` and alpakka Source with almost the same parameters. It feels inelegant.
* You achieve the same thing configuring the `AmazonSQSAsyncClient` thread pool in the first place.
* Even though parallelism would be explicitly bounded, it wouldn't still be an optimal usage of resources.
* IMO parallelism shouldn't be highe

[2017-01-04 22:21] neowulf33 opened #137 "S3: Provide AWS credentials in application.conf"

[2017-01-05 09:34] dpfeiffer commented on #135
In the first place I decided to hand in the `AmazonSQSAsyncClient` so it could be used in other places as well, so you don't have to spin up two thread pools when you simply want to achieve something like this:

[code]

I agree that configuring everything correctly will get really hard if we add a parallelism parameter and allow to pass in a `AmazonSQSAsyncClient`. Maybe we could provide both cons

[2017-01-06 05:28] neowulf opened #138 "S3: Abort failed multipart uploads by default"
An option can be given to retry but the retry logic can be tackled in another ticket (or not, the client can handle the retry logic).

Failed multipart uploads incur S3 costs. A completed multipart upload is the one which cleans up the multiparts.

Reference:
1. http://docs.aws.amazon.com/AmazonS3/latest/dev/mpuoverview.html

[2017-01-06 05:34] neowulf33 commented on #138
### Troubleshoot Note

For those who would like to manually clean up in the meantime, perform the following operations:

[code]

Manually check within the list.txt if all of them need to be aborted. It seems like we don't know which uploadId has failed or completed by looking at this list. To delete a given uploadId, use:

[code]

 If all of the uploads need to be deleted, perform the following:

[2017-01-07 07:22] neowulf33 opened #139 "S3: check if bucket exists before uploading object"
When the bucket doesn't exist - the following error message isn't exactly helpful:

[code]

[2017-01-09 08:07] aserrallerios commented on #135
An empty response means that remote queue *maybe* is empty, and you can leverage on the long polling until it has messages again. Another option is to use the AWS API to directly query the queue, but the result would be the same, you cannot assume that the queue is empty even when the latest request returned that the queue size is 0. What we got here is a best effort approach, and I agree that is

[2017-01-09 15:50] m3nadav opened #142 "S3: multipart upload to new buckets fails with Unsupported Content-Type"
[code]

When creating a new s3 bucket, Amazon's DNS servers need to update the new records so one can use the following REST API host
`https://bucket_name.s3.amazonaws.com`
Untill then, that generic API host will respond with code 307-[[TemporaryRedirect](http://docs.aws.amazon.com/AmazonS3/latest/API/ErrorResponses.html)] (which has no Unmarshaller) to a region-specific host
`https://bucket_name.

[2017-01-10 15:34] #133 closed

[2017-01-11 12:57] #77 closed

[2017-01-11 20:02] #137 closed

[2017-01-12 02:56] gosubpl commented on #115
Also, official driver has Kerberos support, which ReactiveMongo is missing. Quite important to those in corporate environment.
@iozozturk would be great if you could create a PR, otherwise I will probably pick this up, as I have already once done a move reactivemongo -> official driver for the reaseons pointed above :)

[2017-01-12 07:12] iozozturk commented on #115
I will propose a PR in a few days, I am struggling with the Java tests now. Thanks for reminding.

[2017-01-13 08:52] patriknw opened #145 "Provide RecordIO support for streaming APIs and client"
It basically is ([bytes length][json or proto])*, we could trivially support it along existing json streaming modes on the server. For the client would be nice to provide a pattern or method to consume such APIs in any case.

http://mesos.apache.org/documentation/latest/scheduler-http-api/#recordio-response-format

Original ticket https://github.com/akka/akka/issues/21050, but we decided to add it

[2017-01-13 08:54] #142 closed

[2017-01-13 14:01] #145 closed

[2017-01-13 14:15] #132 closed

[2017-01-17 21:13] evan108108 opened #149 "JMS Selectors"
How can I add simple JMS Selectors? Like "myfilter='abc'"?

[code]

[2017-01-18 06:44] joost-de-vries opened #150 "question: next release or daily snapshots"
I'm interested in using Dynamodb streams. But it isn't available as a part of Alpakka 0.5 it seems.
There are no snapshot versions published either, right?

I'm curious what my options are here apart from making my own snapshot build. Any ideas?

Btw I noticed that the dynamodb subproject is not part of the overall build since it's not aggregated in the root sbt project. See [here](https://github.

[2017-01-18 14:29] patriknw commented on #150
It should have been in 0.5, but it's not https://repo1.maven.org/maven2/com/lightbend/akka/

Probably something missing in the build. We'll publish a new release.

We are also having trouble with the documentation publish and therefore was 0.5 not announced yet.

@2m can you take a look at this also?

[2017-01-18 14:55] patriknw opened #152 "run paradox in PR validation"
To prevent the problem we had with 0.5 release.

Perhaps something you can enable, @2m ?

[2017-01-19 07:02] joost-de-vries commented on #150
Btw the unittests of the Dynamodb subproject didn't run on my machine. I kept running into [this problem](http://stackoverflow.com/questions/34137043/amazon-dynamodb-local-unknown-error-exception-or-failure) with starting a local dynamodb that runs embedded in the JVM.

[2017-01-19 07:37] dpfeiffer commented on #135
@aserrallerios I'll try out a few options on the weekend.

[2017-01-19 10:09] lowchinwei opened #153 "Ftp Connector: Adding last modified date and file size to FtpFile"
It is useful to return extra file metadata such as last modified date and file size in the ls api.

[2017-01-19 10:42] lowchinwei opened #154 "Ftp Connector: retrieveFromPath does not return all bytes of file"
Ftp connector is able to retrieve the full contents of small file, e.g. 30020 bytes, but it does not for a larger file, e.g. 2000020 bytes.

[2017-01-19 12:20] 2m commented on #150
Indeed DynamoDB connector artifacts were not published because it was not part of the aggregate. I have published the artifacts for the 0.5 version and they are now in [Bintray repo](https://bintray.com/akka/maven/alpakka/0.5). They will appear in the Maven Central once the synchronization is completed.

I will take a look at DynamoDB unitests.

[2017-01-19 13:22] eharik opened #155 "FTP Connector: Add mv Operation"
Add a function to the dsl to move files on an FTP (or FTPS, SFTP) server.

[2017-01-19 13:22] eharik opened #156 "FTP Connector: Add rm Operation"
Add a function to the dsl to delete files on an FTP (or FTPS, SFTP) server.

[2017-01-19 16:15] #127 closed

[2017-01-20 08:14] viktorklang commented on #154
Do you have a minimized reproducer and demonstration?

[2017-01-20 11:02] rafacm commented on #154
@viktorklang I've added a test in 	rafacm/alpakka@e826604 to reproduce this issue and currently outputs the following error and makes the test assertion to time out:
[code]

[2017-01-20 12:17] #152 closed

[2017-01-20 12:55] patriknw commented on #149
@larousso Do you know the answer here?

[2017-01-20 14:00] hochgi commented on #99
@larousso we use this API:
https://github.com/akka/akka-stream-contrib/issues/32
Providing a specific ES API from `unfoldFlow` API is trivial.
Hope this helps :-)

[2017-01-20 14:09] larousso commented on #149
This not implemented, but it could be easily added.

A workaround is to use the filter from the akka stream api.

[2017-01-20 14:38] hochgi opened #159 "jena streamRDF connector"
would love to see an aka streams integration with:
https://jena.apache.org/documentation/io/streaming-io.html
I haven't worked up all the details yet,
assuming a wrapper class for
[code]
( taken from https://jena.apache.org/documentation/javadoc/arq/org/apache/jena/riot/system/StreamRDF.html )
like:
[code]
I guess such connector should at least provide:
- `Flow[RDFEvent,ByteString]` to format RDF

[2017-01-20 17:32] patriknw commented on #159
Sounds great :+1:

[2017-01-23 01:53] lowchinwei commented on #154
Thanks @rafacm, I see it always retrieve 2000013 bytes, the trailing 7 bytes are missing.

[2017-01-23 06:43] joost-de-vries commented on #150
Tx. Now I can remove my own local built version.
Btw the readme isn't quite correct: it's not
[code]
But "com.lightbend.akka" etc.

[2017-01-23 09:12] Falmarri opened #160 "Add RPC flow for rabbit connector"
A `Flow[OutgoingMessage, IncomingMessage, _]` would be very useful for integrating RPC workflows into akka streams

[2017-01-24 01:31] evan108108 commented on #149
@larousso This is what I am doing now (simply filtering each message in the stream). This works fine but it is perhaps not as efficient for some workflows. I hope this can be added in the future.

[2017-01-24 08:45] stephennancekivell commented on #115
Hey @iozozturk. I've added a PR for a simple Sink. Theres not as much to it as with your Source, but at least it points beginners in the right direction.

It should merge well with yours, I've just C&P'd your config code.

[2017-01-24 10:44] johanandren commented on #149
@evan108108 Maybe the perfect task for a first alpakka PR? ;)

[2017-01-24 13:03] eharik opened #165 "FTP - `list` fails to reach nested dirs"
Current recursive listing will not reach deeply nested folders.  This happens in the case where a nested directory contains no files but only a single directory, i.e.

[code]

[2017-01-24 13:36] juanjovazquez commented on #165
@eharik I'll look into this ASAP. Thanks for catching this!.

[2017-01-24 14:25] larousso commented on #149
@evan108108 @johanandren  I can do PR for this issue but if you want to participate tell me I let you work on this.

[2017-01-24 16:12] juanjovazquez commented on #154
Please, use `binary` mode instead of `text` mode (default) for retrieving the files from FTP. A PR has been made in order to clarify this. Thanks @rafacm for your contribution!.

[2017-01-24 16:22] juanjovazquez commented on #153
@lowchinwei Definitely, `FTPFile` object needs to be enriched. I need to take some time out for tackling this ;).

[2017-01-24 16:26] juanjovazquez commented on #155
@eharik Do you have any ideas about what semantic should be appropriate for this kind of operations?. Maybe a `Sink` that receives the file info and performs some kind of operation on the server as a result?.

[2017-01-24 16:26] juanjovazquez commented on #156
see https://github.com/akka/alpakka/issues/155

[2017-01-24 18:39] vitold opened #168 "AWS Lambda FlowStage"
Hi all,
Currently i'm using aws lambda flow in several projects, and it might be a right place to share this code as separate module.
What do you think ?

[2017-01-24 19:32] eharik commented on #155
@juanjovazquez that's what I was initially thinking as well.  However, in the past I've found libraries that provide a `Sink` to be less usable than those that provide a `Flow` since `Sink` is a terminal operation.  For example - what if I want to first move a file and then delete the initial file assuming the move was a success?  Could I do that if `mv` and `rm` were both a `Sink`?  I would imagi

[2017-01-25 09:46] johanandren commented on #155
Wouldn't it be better to have a few concrete higher level use cases covered by for example FTP source - read files and remove them, read files and move them etc. than to try to model everything a FTP client can do as a stream? If arbitrary manipulation over ftp is what you want to do, then maybe streams is not the right abstraction.

[2017-01-25 12:19] eharik commented on #155
When you've got a hammer...

Yes, @johanandren, I think your suggestion makes sense and seems more in-line with how Camel approaches FTP file transfers.

[2017-01-26 13:05] patriknw commented on #168
sounds interesting, @vitold

[2017-01-26 13:43] patriknw commented on #150
Then we are all done here

[2017-01-26 13:43] #150 closed

[2017-01-26 17:04] vitold commented on #168
#169

[2017-01-27 18:27] alexmnyc opened #170 "Add Amazon Kinesis support"

[2017-01-27 21:11] rafacm commented on #149
@larousso @evan108108 Have a look the wip-jms-selectors-issue-149 branch [here](afacm/alpakka/tree/wip-jms-selectors-issue-149).

Implemented:
1. Introduced a case class JmsTextMessage to model JMS messages with properties. I followed the same pattern as in the MQTT connector.
2. Added a JmsTextMessageSink and refactored JmsSinkStage to add support for "sending" messages with properties
3. Refacto

[2017-01-27 21:28] evan108108 commented on #149
@rafacm +1 | This looks great!

About the first point, I would probably only ever use the JmsTextMessage Sink. I had to implement something very similar as it is now.

[2017-01-28 00:43] rodricifuentes1 opened #171 "S3 - Http download url is not well-formed for default region (us-east-1 N. Virginia)"
When creating an S3 bucket in amazon located in N. Virginia, the url does not contain the bucket zone.

Assuming that this behavior is only occurring for that region (because it is the default one) the correct host should be `s3.amazonws.com`

I added a condition in `HttpRequests` object just to test if my assumption was ok but I'm not sure if this behaviour could happend in any other regions
[cod

[2017-01-28 08:19] larousso commented on #149
@evan108108  @rafacm This seems nice.

For the first point, may be you should only keep the JmsSink that take a TextMessage and add a method like stringSink that take string and do the transformation even if that break the api.

May be TextMessage should extend a JmsMessage trait and the Sink use this trait. For the future we could implement the other type of messages supported by jms extending th

[2017-02-01 13:14] sarveshseri commented on #170
Is there anyone working on it ?

If not then I would like to take this up.

[2017-02-01 21:40] areyouspiffy commented on #170
I pretty much finished it [here](https://github.com/areyouspiffy/reactive-aws/tree/master/kinesis/src/main/scala/reactive/kinesis). You're welcome to take whatever you like from it. It uses the same AwsClient used by the existing DynamoDB connector.

[2017-02-03 20:04] ktoso opened #172 "Link to AkkaSocialStream"
Fun project: https://github.com/becompany/akka-social-stream

[2017-02-05 21:21] patriknw opened #173 "Add Java examples to SSE docs"
see https://github.com/akka/alpakka/issues/47

[2017-02-05 21:23] #47 closed

[2017-02-06 01:09] #154 closed

[2017-02-06 10:33] ktoso commented on #47
Yup, totally on board with this plan

[2017-02-07 00:50] pritesh-patel-hs commented on #171
Having the same issue.

[2017-02-07 05:08] callicles opened #175 "S3: akka.stream.StreamTcpException Tcp Command failed"
Hi!

I am trying to use the s3 connector but I get an exception while trying to use it.

Here is my exception:
[code]

[Here is](https://github.com/callicles/akka-streams-intro/blob/c4e1227506d3097dd6801037527be3154ac8f173/src/main/scala/twitterOntology.scala) my code to instantiate the Sink

scala: 2.11.8
alpakka version: 0.5
akka-http version: 10.0.3
akka-stream version: 2.4.16

Thank you,

[2017-02-07 20:31] 2m commented on #175
`Tcp command [Connect(<host> ...] failed` indicates that a connection to `<host>` could not be established. Have you specified the correct URL for the s3 to connect to?

[2017-02-07 22:34] callicles commented on #175
I did not specify the host, I specified the bucket (`datalogue`) and the region (`us-east-1`)
The host looks like a properly specified one.

[2017-02-08 04:24] callicles commented on #175
Ok, so after some investigation,[ it looks like the schema used to build the url is not valid](http://docs.aws.amazon.com/general/latest/gr/rande.html#s3_region) for `us-east-1`.

The endpoints for that region are:
- s3.amazonaws.com
- s3-external-1.amazonaws.com
- s3.dualstack.us-east-1.amazonaws.com

So I am going to make a pull request with the region being an `Option[String]` so that if it is

[2017-02-08 08:35] 2m commented on #175
Could be related to #171

[2017-02-08 22:34] callicles commented on #175
it is, looks like the same issue.
I made a local fix that works, should I push it in a PR?

[2017-02-09 06:25] eirirlar opened #176 "Support for SOAP"
There should be some kind of support for SOAP. IMO this is an essential feature of any enterprise integration middleware and I believe a very real blocker for many potential adopters of a promising framework.

PS I don't think camel support would "solve this issue" as one might not be interrested in pulling in the entire camel CXF stack in the solution.

[2017-02-09 19:08] areyouspiffy opened #178 "AWS Lex"
I would like to add support for [AWS Lex](https://aws.amazon.com/lex/details/) now that the SDK for it is [available](https://github.com/aws/aws-sdk-java/commit/7be01c22b81aa8f0d6abdf17ee35585cb4a2fdbd).

This involves:

- Extracting the [AwsClient](https://github.com/akka/alpakka/blob/master/dynamodb/src/main/scala/akka/stream/alpakka/dynamodb/impl/AwsClient.scala) in the DynamoDB project to a co

[2017-02-10 20:01] hseeberger opened #180 "Release v0.6"
I need my EventSource. Urgently ;-)

[2017-02-11 23:08] l15k4 opened #181 "S3: custom s3 endpoint"
Hey,

I'm using https://github.com/jubos/fake-s3 extensively in many projects and I'm very satisfied with it so far.
It requires the aws s3 client to be set with :
[code]
for it to work. At least the endpoint, the second setting is not necessary. Is there a way to change endpoint without changing code? It is not possible with the `proxy`

[2017-02-12 20:51] svezfaz opened #182 "FTP connector - add toPath Sink"
I would find it useful to have a `Ftp.toPath` sink - mirroring `Ftp.fromPath` source.

Has this been considered already? I would be happy to provide a PR if not.

[2017-02-13 07:59] johanandren commented on #182
Sounds like a good idea to me.

[2017-02-13 09:09] 2m opened #185 "[FAILED] FtpIOSource should retrieve a bigger file (~2 MB) from path as a stream of bytes"
[code]

[2017-02-13 09:10] #165 closed

[2017-02-13 09:19] patriknw commented on #185
@2m Isn't this fixed via https://github.com/akka/alpakka/commit/aaf738000ae4c1b77807cb22d13dffed65101fa8 ?

[2017-02-13 09:23] patriknw commented on #178
sounds cool

[2017-02-13 09:24] patriknw commented on #176
I agree, would be very useful

[2017-02-13 10:42] patriknw opened #189 "failed: MqttSourceSpec"
https://travis-ci.org/akka/alpakka/jobs/201082367

[code]

[2017-02-13 12:14] #168 closed

[2017-02-13 12:14] patriknw commented on #168
Thanks @vitold
It will be included in the 0.6 release

[2017-02-13 22:04] maciekciolek commented on #25
It seems that first attempts of implementing this were stopped. I am interested to provide this kind of alpakka implementation - do you have any new thoughts how should it look like or would be great to make some initial proposal by me?

[2017-02-14 06:17] patriknw commented on #25
@maciekciolek That would be awesome. It would be great if you could start by sketching out the API and we can review that as the first step.
Take a look at the prototype at https://github.com/akka/alpakka/pull/26/files

[2017-02-14 09:07] 2m commented on #185
I see. Then the validation failure of the #147 was because it was not rebased on top of that fix. Closing this then.

[2017-02-14 09:07] #185 closed

[2017-02-16 07:18] avandendaele opened #191 "AMQP: Provide full configuration of the ConnectionFactory"
Currently, the `AmqpConnector` only supports `setUri`, `setHost`, `setPort`, `setUsername`, `setPassword`, `setVirtualHost` and `useSslProtocol` to configure the  `ConnectionFactory`.
I would like to be able to configure all settings of the `ConnectionFactory` such as `setRequestedHeartbeat `, `setConnectionTimeout `, `setHandshakeTimeout`, `setShutdownTimeout `, `setNetworkRecoveryInterval `, `se

[2017-02-16 08:23] johanandren commented on #191
Sounds like a relatively simple change, up for making a PR adding those to the connection DSL?

[2017-02-16 09:07] avandendaele commented on #191
@johanandren Yes it is. I'll make a PR as soon as I have time to.

[2017-02-16 09:55] johanandren commented on #191
Awesome!

[2017-02-16 19:21] jotsif opened #192 "S3: Implement Get List Bucket call"
As an Alpakka S3 user I would like to use Alpakka for listing the contents of S3 buckets, so that I can see what is there before I decide what to download.

[2017-02-16 21:00] svezfaz commented on #153
@juanjovazquez (1) modified date, (2) file size and (3) file permissions seem like the lowest-hanging fruits here.. The resulting model object would look something like

[code]

Info about user and group is not that low-hanging, as FTP will give us nice names, where SFTP will give us numerical ids only.

Would a first PR to add the 3 above be welcome?

[2017-02-16 22:07] eharik commented on #153
Could you add a couple parameters to FtpFile so it's FtpFile[UID, GID] or
is that over complicating things?  Either way, the richer FtpFile changes
will be welcome!

On Feb 16, 2017 4:00 PM, "Stefano Bonetti" <notifications@github.com> wrote:

@juanjovazquez <https://github.com/juanjovazquez> (1) modified date, (2)
file size and (3) file permissions seem like the lowest-hanging fruits
here.. The r

[2017-02-17 08:44] juanjovazquez commented on #153
@svezfaz the PR would be definitely welcome. Just a couple of things. `java.time.LocalDateTime` would force us to use Java 8, right?. I think this is still a strong requirement. What about the humble `java.util.Date`? (I know this API is not reliable but it could be a sensible decision). I'd rather go with joda time but I'm not sure if it's worth it in this case 'cause maybe the end user is not co

[2017-02-17 09:09] svezfaz commented on #153
@juanjovazquez @eharik
- point taken on `LocalDateTime`. I am not super-keen on `util.Date` but the only alternative seems to be just a Long epoch timestamp. Too low level?
- for the `isDirectory` matter, indeed it makes sense to solve this as a separate issue. so we might leave this in for now?
- for the UID/GID, maybe we can skip this for now until we find a valid use case.

[2017-02-17 10:25] juanjovazquez commented on #153
I'd have a look at [GenericFile](https://github.com/apache/camel/blob/52a739feb9da8acd29067304c7c8356bbc5ef4dd/camel-core/src/main/java/org/apache/camel/component/file/GenericFile.java) on the Camel project. Take into account that many Alpakka users will come from Camel (I'm one of them ;-)). I can see that `lastModified` is defined as `long` there, so I'd stick to this criteria.

Agreed with the

[2017-02-17 16:49] eharik commented on #153
Nope, no compelling use case right now.  Just throwing out the suggestion.

On Feb 17, 2017 2:09 AM, "Stefano Bonetti" <notifications@github.com> wrote:

[2017-02-17 23:08] #81 closed

[2017-02-18 08:32] patriknw commented on #153
JDK8 is required anyway, by Akka

[2017-02-18 17:58] jurisk opened #194 "S3: Alpakka should allow un-prefixed headers"
I'd like to set a `Content-Encoding: gzip` header, however `buildHeaders` in ` HttpRequests` is prefixing the `MetaHeaders` with a `x-amz-meta-` prefix, therefore it is not possible.

It would be useful if un-prefixed headers would also be available.

I could contribute a pull request, but we should agree on the API - are we passing another map of `rawHeaders` in to `initiateMultipartUploadRequest

[2017-02-18 19:29] klpx commented on #67
Hi! I already have a postgres jdbc sink connector here: https://github.com/klpx/akka-streams-postgresql-copy and use it in production.
In case of using streams i think COPY is good way for bulk inserts. But my connector doesnt have some stream partitioning for case of long running streams.
I can adapt it for Alpakka code structure and create PR if someone is interested in that.

[2017-02-18 22:45] matsluni commented on #67
Hi, there is a PR for Slick [Slick#1675](https://github.com/slick/slick/pull/1675) to add a Database Subscriber. But I don't know if/when it will be merged.

[2017-02-20 09:39] patriknw commented on #67
@klpx integration with Postgres is very interesting. Is it using Postgress async APIs?

[2017-02-20 14:17] tdroxler opened #196 "MQTT: Cannot customize MqttCallback"
Hi everyone,

I don't see how we can modify the [`MqttCallback`](https://github.com/akka/alpakka/blob/master/mqtt/src/main/scala/akka/stream/alpakka/mqtt/Mqtt.scala#L146) is there a way or what would be the best way to add this feature?

thx

edit: maybe if we could create a `Source` from a `MqttAsyncClient` this would give the freedom to configure more in depth the client. Because I don't see eit

[2017-02-20 16:24] argast opened #197 "It should be possible to specify custom private key when creating SFTP source."
At the moment only way of authenticating using SFTP is username/password or existing host keys. It should be possible to specify custom key when configuring SFTP source.

[2017-02-20 17:17] #175 closed

[2017-02-20 21:55] evan108108 commented on #149
@rafacm Where are you with the "Open questions"? Do you need help?

[2017-02-20 23:28] maciekciolek commented on #25
@patriknw I went deeply into #26, #69 prototypes and the implementation of ReactiveSocket. I can see two ways how Alpakka can support ReactiveSocket:
1. We can implement just Akka Streams wrapper (abstract class with method overrides) which will allow developers to use ReactiveSocket with Akka Streams easily but it will be just raw wrapper.
2. We can do it like akka-http - I can imagine approach a

[2017-02-21 09:58] patriknw commented on #25
I vote for alternative 1. My thinking around this is that we should embrace ReactiveSocket and not hide it too much. At some places we provide easier-to-use constructs/wrappers.

[2017-02-21 13:25] jurisk opened #198 "Backblaze B2 support"
Please consider supporting Backblaze B2 (somewhat similar to Amazon S3).

See documentation:
https://www.backblaze.com/b2/docs/

[2017-02-21 15:17] johanandren commented on #198
I have never heard of it before, is it widely used?

[2017-02-21 15:26] jurisk commented on #198
29k Google hits for "backblaze b2" vs 476k for "amazon s3".

135 repos with "backblaze" in their name on GitHub.

I don't know market share data.

[2017-02-21 15:33] johanandren commented on #198
That's a useful indication, thanks. I think a PR would be great!

[2017-02-21 15:36] argast commented on #197
I will try to contribute a PR soon.

[2017-02-21 15:41] johanandren commented on #149
@rafacm A factory that accepts `Strings` can probably easily be achieved through composition? `Flow.fromFunction(text: String => JmsTextMessage(text)).to(JmsSink)`

[2017-02-23 06:21] eirirlar commented on #81
How about a gitter channel for alpakka ;)

[2017-02-23 06:31] eirirlar opened #199 "Support other datatypes than String for JmsSink"
As of now, the only API support for Jms Sinks is this:

[code]

Other datatypes should be supported, at least the various message types in the Jms spec like TextMessage.

On that note, an API that exposes the JmsSession to the client should be implemented, so one could call i.e session.createTextMessage.

[2017-02-23 06:48] eirirlar commented on #199
As a workaround for jms Messages, I created this for personal use.
´´´
package akka.stream.alpakka.jms

import javax.jms.{Message, MessageProducer}

import akka.NotUsed
import akka.stream.scaladsl.Sink
import akka.stream.stage.{GraphStage, GraphStageLogic, InHandler}
import akka.stream.{ActorAttributes, Attributes, Inlet, SinkShape}

object Jms {
  def sink(jmsSettings: JmsSinkSettings): Sink[Mess

[2017-02-23 07:41] johanandren commented on #199
This has been discussed in #149, I think it will be in the PR for that.

[2017-02-23 08:08] johanandren commented on #81
Maybe this one would be better suited for a standalone project, as the use case is a bit narrow, we'd definitely list that in the external connectors page!

[2017-02-23 08:16] ennru commented on #60
@skhatri Did you put any more effort into this?

What I find in the existing CSV libraries (commons-csv, open csv, scala-csv) is that they tend to take control over file IO, which is not what we want in an Akka Stream. I've done some parsing Stages with scala-csv, but converting to CSV is a bit like what @joearasin shows for commons-csv.

[2017-02-23 08:30] johanandren commented on #60
On the parser side we'd want it to be push/record based, in that we can push bytestrings on it and potentially get a record back, just like the JSON framing in Akka stream core: https://github.com/akka/akka/blob/master/akka-stream/src/main/scala/akka/stream/scaladsl/JsonFraming.scala

[2017-02-23 08:50] stephennancekivell commented on #81
Yea, I lost my passion for this one. So don't expect much :P

[2017-02-23 08:58] johanandren commented on #81
Oh no, lost passion is the worst kind of passion!

[2017-02-23 10:18] ennru commented on #60
So the expected signature could be something like
`val csvFlow: Flow[ByteString, Source[ByteString, NotUsed], NotUsed] = CsvFraming()`
where the created stream contains one element per column in the incoming CSV ByteString and a new element for every "line" (CSV columns may contain line breaks).

Or should it make things simpler and create elements of `immutable.Seq[ByteString]`.

[2017-02-23 10:20] johanandren commented on #60
Or the stage would both frame and parse and emit `CsvRecord`s or something like that?

[2017-02-23 10:22] johanandren commented on #60
Can you think of a use-case where it is interesting to consume fields rather than entire records?

[2017-02-23 10:37] ennru commented on #60
That would be this extra-wide Excel data a former colleague of mine produced, in case I'd only be interested in the first 100 columns.
But the framing would need to go through the rest anyway, so a fixed length thingy will be best. I would not want to introduce a `CsvRecord`. Another step in the stream would be to convert the list of elements to a map out of the column names (`Map[String, String]`

[2017-02-23 12:07] johanandren commented on #60
Ok, sounds like you have a plan! 👍

[2017-02-23 12:15] eirirlar opened #201 "Jms does not handle failures"
When attempting to stream messages to a jms topic that has gone down and come up again, writing fails silently.

This should probably be documented along with advice on how to handle the situation.

[2017-02-23 12:20] eirirlar commented on #201
In order to set expectations of potential adopters to the correct level, it would probably also be a good idea to write clearly on the front page (http://developer.lightbend.com/docs/alpakka/current) that this framework is very far from production ready.

Also, it seems just plain wrong or at least very misleading that the Akka Camel module says something `like @Deprecated("use alpakka") `.

[2017-02-23 15:12] mwegrz commented on #196
@tdroxler please give some more info your use case that needs an extension of `MqttCallback`.

[2017-02-24 11:50] aquamatthias opened #203 "How to tear down S3 streams correctly?"
I use the alpakka S3 extension (0.6) to download a file from s3.
How do I teardown the stream correctly?

Example:
[code]

I get this output:
[code]

[2017-02-24 22:37] klpx commented on #67
No, it uses JDBC in async manner.

[2017-02-25 12:08] fg-devs opened #204 "AWS SNS connector"
Provide a Sink to publish a message to an AWS SNS topic.

[2017-02-27 18:36] eharik commented on #182
Agreed on the proposal to add "modes".  In addition to "overwrite", "append", "create", and "safe overwrite" I would imagine we'd want something along the lines of "don't overwrite."  Not sure if appropriate behavior is to return a failed Future in the case where the file already exists?

A couple other options that might be useful would be "atomic" and "chmod".  I don't know the underlying librar

[2017-02-27 20:52] Scalahansolo commented on #192
Myself and a couple of co-workers have a forked version that does exactly this. https://github.com/andrewrapp/alpakka/blob/master/s3/src/main/scala/akka/stream/alpakka/s3/scaladsl/S3Client.scala

Reason for not merging this back in - Akka Http does not have proxy support currently which is a blocker for us, so we have a our version until that exists.

There is an open ticket to get proxy support,

[2017-03-01 05:11] SattaiLanfear opened #206 "SSE Recovery Fails"
The tests for the SSE connector are missing a case where it fails.  Unfortunately while I tried to create a new test case, I'm not familiar enough with Akka HTTP serving to properly simulate the condition.

Problem:
The current tests only apply to a properly shut down interrupted stream.  The stream always properly closes because Akka is gracefully shutting down.  This fails to simulate actually l

[2017-03-01 08:18] johanandren commented on #203
The S3 client uses Akka HTTP for talking to S3 and HTTP keeps connection pools, I think this may be because of that. What happens if you do a `Http().shutdownAllConnectionPools()` and wait for the returned future before you shutdown the materializer?

[2017-03-01 09:30] johanandren commented on #182
Modes sounds like a good idea if the underlying FTP clients support it. I think "Don't overwrite" would be "create" and should fail if the file already exists.

I think there is a level where you should just drop down to an imperative FTP client, we can and should not cover every thinkable use case for putting files on a FTP server.

[2017-03-01 12:44] aquamatthias commented on #203
@johanandren I already tried this (updated my description). I see the same result.

[2017-03-01 19:22] svezfaz opened #207 "FTP connector - add `toPath` sink modes/flavours"
This is intended as a follow-up issue for #182

As per the current PR, the sink works in overwrite mode only. We could have other modes, like "append", "create_new", etc.

Different modes that have been mentioned so far are listed below:
- overwrite (current behaviour)
- safe overwrite (write to temp and then MV)
- append
- create new (i.e. fail if already existing)

[2017-03-02 07:18] hseeberger commented on #206
Good catch! So how could we write a test for that scenario which is really important?

[2017-03-02 09:16] matsluni commented on #191
There is also a method called newConnection, which takes an Address or a list of addresses. I think it would also be a good addition to support those, e.g. to list all cluster nodes.

[2017-03-02 10:40] SattaiLanfear commented on #206
@hseeberger
Maybe something could be done on the client side to simulate it since killing the server is impractical.

`akka.stream.UniqueKillSwitch` and the other KillSwitch variants allow triggering an arbitrary exception.  Unfortunately I don't think it could be put in to the stream at the right point to work, as any exception after the EventStream logic should be user-space.  Meanwhile even thr

[2017-03-03 07:10] stephennancekivell opened #208 "google cloud pubsub"
Hi, I can add a connector for GCE pub sub. I have seen other akka streams connectors, however they are using blocking APIs. One could be built on top of akka-http, we just need to add a bit of logic for OAuth on JWT tokens.

https://cloud.google.com/pubsub/docs/overview

[2017-03-03 07:59] johanandren commented on #208
@saturnism was looking into this a bit when I met him a couple of weeks ago, maybe he has some input?

[2017-03-03 08:11] stephennancekivell commented on #208
Thanks @johanandren, Ill hold off if @saturism has already started.

[2017-03-04 18:18] psycho-ir opened #209 "Separated dsl projects for scala and java."
Hi, I was thinking about splitting the dsls binaries based on the user needs.
By doing so client can simply depends his application to the specific language module that he needs and does not suffer the wrong imports that can happen by IDEs. (and of course less classes in the classpath).
as a suggestion we can have 3 projects for each of the projects that already exist. e.g:
* {project-name}-core
*

[2017-03-05 08:26] patriknw commented on #208
very interesting connector!

[2017-03-06 07:53] stephennancekivell commented on #209
I dont think there is enough work in the java dsl's to justify them being in another project. And I like how little work is required by the library author to support both languages.

This is the same as in `akka-streams` itself. Its nice that `alpakka` is consistent.

Just my 2 cents, others might think differently.

[2017-03-06 13:21] avandendaele commented on #191
@johanandren Any naming convention or preference about the variable pattern [here](https://github.com/akka/alpakka/blob/master/amqp/src/main/scala/akka/stream/alpakka/amqp/AmqpConnector.scala#L18) ? I mean with or without `maybe` prefix ?

[2017-03-06 14:41] NicolaeNMV commented on #182
Will be really interested to start using the FTP sink. Does anybody know if there are any plans for the a new alpakka release ?

[2017-03-07 08:20] johanandren commented on #209
I agree with @stephennancekivell, there is often so little glue logic for the language the stages are not implemented in that the artifact overhead is minimal, the wrong-import problem is annoying but I don't think it motivates the overhead of three modules per connector.

[2017-03-07 08:24] johanandren commented on #191
I'd skip the `maybe`, the type makes it obvious, but it doesn't matter much with a small local scope IMO.

[2017-03-07 08:34] saturnism commented on #208
awesome! looks like it's going to the restful api directly, which is great right now.

fyi, there is a streaming/async client: https://github.com/GoogleCloudPlatform/google-cloud-java/tree/master/google-cloud-pubsub/src/main/java/com/google/cloud/pubsub/spi/v1

It may not fit this use case at the moment due to back-pressure handling (or perhaps the lack of)!

would love to get your feedback on thi

[2017-03-10 10:14] patriknw commented on #209
I agree that we should keep one jar per project. Thanks for the suggestion and offering to do the work, @psycho-ir

[2017-03-10 10:14] #209 closed

[2017-03-13 14:51] tdroxler commented on #196
sorry after digging more into MQTT I realize I didn't need to modify `MqttCallback`, my bad.

Closing the issue

[2017-03-13 14:51] #196 closed

[2017-03-13 16:31] tdroxler opened #219 "Mqtt - ssl socket factory"
Currently we cannot use ssl to connect to a mqtt broker (i.e. we cannot use `setSocketFactory` function on `MqttConnectOptions`).

I have a PR ready for this. #220

[2017-03-15 12:47] takezoe commented on #99
I'm working on this topic here:
https://github.com/takezoe/alpakka/tree/elasticsearch/elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch

[2017-03-15 22:05] timcharper commented on #203
There is a known issue with Akka HTTP: https://github.com/akka/akka-http/issues/907

In short, `Http().shutdownAllConnectionPools()` does not work if you use any SSL connections, which the S3Client definitely depends on.

The error message is relatively harmless, except that it could make your application appear broken.

[2017-03-15 22:06] timcharper commented on #203
The following Scala Script can be run to reproduce the issue:

https://gist.github.com/timcharper/dc8e5b8b9a790852394d0fb78f2c016c

[2017-03-16 05:38] hochgi commented on #99
@takezoe are you aware of: https://github.com/yannick-cw/elastic-indexer4s ?
Also, it looks like you're using a blocking http client against ES. Maybe you can use https://github.com/sksamuel/elastic4s or use akka-http connection flows as a more natural http client to work with streams.

[2017-03-16 09:57] johanandren commented on #203
Since the issue is actually in Akka HTTP I think we can close this one?

[2017-03-16 12:24] takezoe commented on #99
@hochgi Yes! I know that. elastic4s is a really cool library to use Elasticsearch in Scala, but I feel it's overkill to implement Source and Sink of Akka Streams.

In addition, HTTP support in elastic4s is still experimental and its reactive streams support works with the transport client only for now.

[2017-03-16 13:19] larousso commented on #99
Hi, there is a performAsync request on the elastic rest client. you need to register a ResponseListener so it's easy to transform this into a scala future.
Hope that help!

[2017-03-16 15:18] aquamatthias commented on #203
Thanks for investigation!

[2017-03-16 15:18] #203 closed

[2017-03-17 04:47] hochgi commented on #99
@takezoe you can use `unfoldFlow` API to unfold an akka-http connection flow :)

[2017-03-17 15:59] matsluni commented on #191
I could also help out on this. Let me know if this helps.

[2017-03-20 15:24] johanandren opened #223 "FTP connector - Infinite loop of traversing "." and ".." directories"
Current (".") and parent ("..") directories are returned as part of the list, which causes FtpBrowserGraphStage (https://github.com/akka/alpakka/blob/master/ftp/src/main/scala/akka/stream/alpakka/ftp/impl/FtpBrowserGraphStage.scala#L67) to infinitely try to call listFiles() again on these directories.

SftpOperations.scala has this filter (https://github.com/akka/alpakka/blob/master/ftp/src/main/s

[2017-03-20 15:25] johanandren commented on #223
Thanks @nktpro for reporting and fixing!

[2017-03-20 15:25] #223 closed

[2017-03-20 18:04] psycho-ir opened #224 "KairosDB connector"
Hi,

I just started to implement KairosDB Sink for a private project.
Can provide it as an alpakka module if you guys think it's useful.

[2017-03-22 15:01] johanandren opened #227 "Upgrade to aws-java-sdk-dynamodb 1.11.106"
For release tracking.

[2017-03-22 15:01] #227 closed

[2017-03-23 10:35] #219 closed

[2017-03-23 10:37] #153 closed

[2017-03-23 10:37] ktoso commented on #153
Solved in #195

[2017-03-23 12:59] #135 closed

[2017-03-24 10:47] johanandren commented on #192
Free for picking up as PR #193 was closed.

[2017-03-24 13:43] johanandren commented on #182
Thanks for this one @svezfaz !

[2017-03-24 13:43] #182 closed

[2017-03-27 06:35] #208 closed

[2017-03-27 06:53] 2m opened #232 "Contraband for data types"
Quite a few connectors require some sort of data types for configuration. In the current situation these data types lack uniformity across connectors and in quite a few cases Java API is an afterthought or being left out all together.

[Contraband](http://www.scala-sbt.org/contraband/) is a description language for data types with a generator of pseudo case classes. Generated classes have Java fri

[2017-03-27 09:23] 2m opened #235 "Failed: AwsLambdaFlowSpec"
Failed while validating #233

https://travis-ci.org/akka/alpakka/jobs/215442139

[code]

[2017-03-27 09:58] 2m opened #236 "Failed: FtpsStageSpec"
While building master: https://travis-ci.org/akka/alpakka/jobs/215458574

[code]

[2017-03-27 10:47] filosganga commented on #236
That test seems flaky, it has failed couple of time yesterday on my PR as well.

[2017-03-27 12:17] jrudolph commented on #63
@jypma we finally looked at ts-reaktive again during last week's team meeting. Sorry for delaying this for so long.

We think it is indeed a good fit for alpakka. We looked at the code a bit which looks well-structured so it shouldn't be too hard to extract.

The scope would be the ts-reaktive-marshal and ts-reaktive-marshal-http modules. I'll try to summarize the functionality (please correct if

[2017-03-27 12:22] ktoso commented on #63
Adding context from gitter chat on last Friday which Johannes missed:

[2017-03-27 12:27] ktoso commented on #63
And just as a sanity check: I think Johannes's summary contains everything we discussed.
So the parsing is one thing, and the nice glue code for HTTP is another :)

[2017-03-27 13:43] #236 closed

[2017-03-27 16:45] #118 closed

[2017-03-27 22:39] SirStoke opened #240 "Pass MqttConnectOptions directly to MqttSource/MqttSink"
Would you be inclined to accept a PR that adds [MqttConnectOptions](https://www.eclipse.org/paho/files/javadoc/org/eclipse/paho/client/mqttv3/MqttConnectOptions.html) as an option to build `MqttSource` and `MqttSink` (or perhaps as another way to build `MqttConnectionSettings`)?

The main motivation behind this is to allow the end user to set specific paho options such as [connection timeout](http

[2017-03-28 06:58] #197 closed

[2017-03-28 11:09] psycho-ir opened #241 "SQSSource does not call the receiveMessage if buffer size turn into 0."
Regarding this check in handleSuccess method (Line 70):

[code]

The source does not call the receiveMessages anymore if the settings.maxBufferSize and settings.maxBatchSize values are the same and the buffer is empty.

I would suggest to check buffer.size != 0 disjunct with what already is there to avoid this condition.
I am happy to fix it if you guys want.

[2017-03-28 11:11] psycho-ir commented on #241
Ah looks fixed in the master branch.

[2017-03-28 11:11] #241 closed

[2017-03-28 15:51] jrudolph commented on #98
As commented in #120 it is not possible to use the AWS signing test suite verbatim because akka-http cannot be made to render exactly the same requests. This [comment](https://github.com/akka/alpakka/pull/120#issuecomment-289786050) gives a few hints how better test coverage could be achieved anyways.

[2017-03-31 12:48] 2m commented on #235
Failed again when validating PR: https://travis-ci.org/akka/alpakka/jobs/215475134

[2017-03-31 12:53] #103 closed

[2017-03-31 13:19] 2m opened #245 "Failed: SqsSourceTest"
https://travis-ci.org/akka/alpakka/jobs/217164066

[code]

[2017-04-02 10:37] michalbogacz commented on #115
Hey, thanks for great work!
I have one additional idea:
There is a new version of official mongo-scala-driver with support for case class conversion (http://mongodb.github.io/mongo-scala-driver/2.0/getting-started/quick-tour-case-classes/).
Since this connector is not released yet, can the implementation of source/sink be changed to generic? Not parametrized from beginning to org.mongodb.scala.Doc

[2017-04-03 09:21] dpfeiffer commented on #245
@2m what should we do about that one. As I can see it worked. Do you know if that test is flaky in general? I tried to reproduce it but wasn't able to do so locally?

[2017-04-03 11:44] 2m commented on #245
When running that one test suite repeatedly I could not reproduce it either. So I think we can just increase the timeout for this particular test and see if it happens more.

[2017-04-03 11:47] dpfeiffer commented on #245
Should I create a PR? We could also reduce the amount of messages to the queue in that test (currently we send and receive 100 messages) because the real tests are already done in the `SqsSourceSpec` and the `SqsSourceTest` is only there for testing the Java API.

[2017-04-03 11:52] 2m commented on #245
PR would be great! Decreasing the number of messages also sounds good.

[2017-04-03 14:04] #64 closed

[2017-04-03 14:26] thereisnospoon opened #247 "Support of HTTP schema for custom S3 endpoint"
In order to use Alpakka S3 with various S3 mocks it would be convenient to have an option to specify `http` schema for HTTP requests to S3 endpoints. I think, it can be achieved by adding `schema` subproperty to `proxy` property which will contain schema name (`https` by default).

[2017-04-04 11:40] #245 closed

[2017-04-04 16:14] #247 closed

[2017-04-06 15:58] htimur opened #251 "SQS: Add possibility to define custom failure handler both for Source and Sink"
Current implementation of the `Source` fails the stage:
[code]
as well as the `Sink`:
[code]
As it's not possible to define custom error handling for the `GraphStage`, would be good to have possibility to define custom failure handlers both for `Source` and `Sink`.

[2017-04-09 12:07] aserrallerios opened #255 "SQS: Flow versions of SqsAckSink and SqsSink"
Sometimes you need to do some actions _after_ a message has been ack'ed or published.

For example, when you want at-least-once semantics on SQS flows, a typical stream would look like:

    sqsSource(queue1) ~> logic ~> sqsPublish(queue2) ~> sqsAck(queue1)

If you think that it's worth it, we should decide if we want to have just an internal implementation (the flow version) or two internal repre

[2017-04-10 17:22] Scalahansolo opened #256 "S3: Discussion on Single Request vs Connection Pool"
While digging around in the S3 code I noticed that it uses a single request for all requests that come through. https://github.com/akka/alpakka/blob/master/s3/src/main/scala/akka/stream/alpakka/s3/impl/S3Stream.scala#L223.

Should this not be using the pattern outlined at http://doc.akka.io/docs/akka-http/10.0.5/scala/http/client-side/host-level.html#using-the-host-level-api-with-a-queue so we end

[2017-04-11 11:55] 2m commented on #256
`singleRequest` uses the [cached default host connection pool](https://github.com/akka/akka-http/blob/master/akka-http-core/src/main/scala/akka/http/scaladsl/Http.scala#L526-L535).

[2017-04-11 15:13] Scalahansolo commented on #256
Ahh okay. That makes sense. Ill close this out.

[2017-04-11 15:13] #256 closed

[2017-04-11 21:20] nikitapecasa opened #257 "SQS: SqsAckSinkStage - RequeueWithDelay might need an explicit warning in documentation"
Hi,

Please help me understand idea behind `RequeueWithDelay`,
as I can see from [the code](https://github.com/akka/alpakka/blob/master/sqs/src/main/scala/akka/stream/alpakka/sqs/SqsAckSinkStage.scala#L71), it looks like it will only add a new message to the queue (if standard Amazon SQS queue is used), so after `RequeueWithDelay` I will have two messages with *identical body* and different messag

[2017-04-11 21:30] s12v commented on #257
@nikitapecasa, good point

[2017-04-11 21:32] s12v commented on #255
@aserrallerios, there's a PR for that: https://github.com/akka/alpakka/pull/239

[2017-04-11 21:33] s12v commented on #251
@htimur, could you please provide example code for this (i.e. defining a failure handler)?

[2017-04-12 10:15] gortiz opened #258 "Add Chronicle Queue support"
[Chronicle Queue](https://github.com/OpenHFT/Chronicle-Queue) is a micro second messaging queue that stores data offheap (in fact on disk by using mmap). At [ToroDB](https://github.com/torodb/) we use Akka Streams replicate data from MongoDB to a SQL database by using Akka Stream and we would like add Chronicle Queue as a Akka Stream offheap buffer/flow, but we think it would also be useful to hav

[2017-04-12 10:31] johanandren commented on #258
Java connectors are welcome, we could probably just ask someone Scala savvy to provide thin wrappers/factories for the Scala side of things.

If it still is a roadblock you could also develop and publish it as your own project and have it listed in the "External connectors" docs.

[2017-04-12 10:55] johanandren commented on #251
For the source you have `recoverWith`, for the sink I don't think there is a reasonable alternative handling of a failure.

[2017-04-12 10:56] #60 closed

[2017-04-12 10:59] s12v commented on #257
@nikitapecasa, I think visibility timeout is a good option, I'll check it this weekend. FIFO SQS have some limitations (regions, throughput). Thanks!

[2017-04-12 13:17] huanwuji opened #259 "akka-stream for integration"
I'm already do integration for a long time.
https://github.com/huanwuji/teleporter
Is this design have any useful for Integration Patterns

[2017-04-12 15:24] gafiatulin opened #260 "Nats Streaming connector"
[Nats Streaming](https://nats.io/documentation/streaming/nats-streaming-intro/) is a data streaming system powered by [NATS](https://nats.io).

I've implemented some sources and sinks wrapping [official java client](https://github.com/nats-io/java-nats-streaming) for usage in private projects.
I am willing to contribute it as an alpakka module, if the community is interested.

[2017-04-13 08:49] #204 closed

[2017-04-13 11:07] raboof commented on #235
Could #261 help here? Not completely sure as I haven't been able to reproduce exactly this failure, but seems plausible to me.

[2017-04-13 12:54] #235 closed

[2017-04-13 12:56] 2m commented on #235
I think you are right. Failure mentioned here was that some mockito expectation was not fulfilled.

[2017-04-13 13:35] 2m commented on #189
Closing it as #263 got merged. WIll open a new one if this spec fails again.

[2017-04-13 13:35] #189 closed

[2017-04-13 14:36] marco-hoyer commented on #257
I'm not that sure why this is done at all. As we use SQS a message is either deleted after successful processing or reappears in the queue in case of an error without further action required by the application. So why should I resend a message to the queue when it will reappear by design?

[2017-04-13 15:11] s12v commented on #257
@marco-hoyer, as I understand, visibility timeout is for errors. When consumer crashes (or there's a network issue, etc.), you can try again. Usually, visibility timeout is small.

Sometimes you want to postpone messages and have control on this. Changing visibility timeout is actually a good idea, but then it can be affected by maximum receives, right?

Maybe this functionality is too much, I don

[2017-04-13 15:52] marco-hoyer commented on #257
@s12v but from the queues perspective why should you differentiate an error from a consumer crash? In both cases a message has not been processed. SQS would make the message appear again after the visibility timeout and nothing is left on any error scenario. The way the SqsAckSinkStage handles thinks is that on an error the message is sent again and you have two messages in your queue. I see no ad

[2017-04-13 15:59] s12v commented on #257
@marco-hoyer

There's not much difference. You might want different behaviour in different situations.

It's a bug. My bad :( I need to delete the message when requeue or use the visibility timeout.

[2017-04-13 16:27] thereisnospoon opened #264 "Support of partial file download from S3"
It would be great to have an ability to create stream for download only of a given bytes range of a file.

[2017-04-14 00:01] gortiz commented on #258
After a couple hours of developmente, I reached a solution. I have to test it and verify the choosen API... but @akara, developer of Scubs, told me on twitter about their solution: https://github.com/paypal/squbs/blob/master/docs/persistent-buffer.md

It seems to be just what I was looking for. It may be more _heavy_ than I would like (I couldn't check its size and dependencies) and it looks like

[2017-04-14 04:29] 2m commented on #258
Yes. It would be great to have it listed there for better discoverability.

[2017-04-14 13:09] filosganga opened #267 "The FtpsStageSpec is flaky"
The `FtpsStageSpec` is failing randomly, an example of the failure can be find on [Travis CI build log](https://travis-ci.org/akka/alpakka/jobs/222062164#L2532).

[2017-04-14 13:18] raboof commented on #267
Possibly related:
[code]
Test failure:
[code]

[2017-04-14 15:27] filosganga opened #268 "Testkit module proposition"
Following up the comment by @ktoso on my PR (https://github.com/akka/alpakka/pull/110#discussion_r110549803) I think would be good to have a testkit module to share some test fixture as at the moment each module seems to have its own set of fixtures.

Some of them reuse the same ActoSystem and Materializer while other modules create and destroy them each test.

[2017-04-16 20:19] juanjovazquez commented on #267
@filosganga @raboof I'm looking into this but it's hard to find the cause as I'm not able to reproduce it on my side. I have the intuition that this has to do with the max number of logins that the test server is currently accepting. See [this](https://mina.apache.org/ftpserver-project/configuration_server.html) for further information. If you agree I might launch a PR increasing this parameter an

[2017-04-17 06:23] 2m commented on #267
Lets try that out and see if it helps. :+1:

[2017-04-17 17:14] s12v commented on #257
@nikitapecasa, @marco-hoyer, could you please take a look at my PR #270 ?

[2017-04-18 11:34] 2m commented on #267
Closing this as #269 might solve this. Will open another issue, if this reappears.

[2017-04-18 11:34] #267 closed

[2017-04-18 17:32] akara commented on #258
Will take care of listing once we have it all released (should be a matter of days now). As for the weight, most of the dependencies in that module should be "provided" and intransitive so we do not deal with the weight of the dependencies. I'll check that.

[2017-04-18 17:41] akara commented on #258
Also, yes, we're working on Scala 2.12 in the 1.0 release. But this can be months out.

[2017-04-18 18:37] thereisnospoon opened #271 "Add ability to perform generic http requests to S3 via S3Client API"
Often there is a need to perform various http requests to S3 except for data upload and download (e.g. remove a key from a bucket, list buckets, list keys etc). In order to do these requests you need to parse application config for S3 related properties such as access-key, region and so on.

It would be convenient to reuse `S3Client` from Alpakka for such requests which already encapsulates parsed

[2017-04-19 07:37] 2m commented on #258
Sounds good!

[2017-04-19 07:39] gortiz commented on #258
As far as I know, Squbs does provide a flow that acts like a buffer but not sources or sinks. Therefore, I'm still working on custom stages to support that, as we are going to need them on ToroDB. I expect to have something to show you before the end of this week.

[2017-04-19 09:29] ennru commented on #180
@hseeberger You might want to close this one.

[2017-04-19 10:20] patriknw commented on #180
thanks

[2017-04-19 10:20] #180 closed

[2017-04-19 16:30] #109 closed

[2017-04-19 16:37] johanandren commented on #264
As far as I understand, the range is just headers, would be good if this was solved the same way as #254, allowing for more custom headers to be added without changing the API every time. WDYT @thereisnospoon ?

[2017-04-19 20:06] akara commented on #258
I generally would not do a sink as it is no different from a `Flow` connected to a `Sink.ignore`. Doing a `Source` is a valid use case, though.

[2017-04-20 06:27] gortiz commented on #258
Good point, but I think it may be different. It can be more efficient, as you don't need to recreate the object to just ignore it later. I guess these objects will be easily collected by the GC (as they should always be on the eden) but it is very easy to have a source once you implemented a flow.

[2017-04-20 14:56] jrudolph commented on #264
Fixed by #265.

[2017-04-20 14:56] #264 closed

[2017-04-20 15:29] jrudolph commented on #264
@johanandren not sure if the range header is as general as the ones tackled in #254. AFAICS the range header is mostly relevant for downloads so it seems to fit somewhat well here. The header added in #254 seemed to be more meta-level headers so it makes sense to configure them in a single place.

[2017-04-20 15:32] johanandren commented on #264
Alright, thanks for clarifying @jrudolph

[2017-04-20 23:52] svezfaz commented on #155
@juanjovazquez @johanandren @eharik
What if we augment the `IOResult` we get back from the streaming source/sink to be able to perform - e.g. - mv or rm operations? Something along the lines of
[code]
so that you could do something like
[code]
For the purpose we could embed the FtpClient inside the handle. There are probably better way to implement this, haven't really thought about that in depth.

[2017-04-21 12:27] eharik commented on #155
I guess the basic question is do we want to add general FTP client ops to the API at all? (restating @johanandren 's point above).  Could the same be accomplished by calling the client ops on the materialized value after the streaming work is done?  Downside there is one now has to work with both Alpakka streams and the FTP client directly.

Regarding the specific API suggestion - it implies a "fi

[2017-04-21 21:04] ennru opened #272 "File: directory listing source"
In parallell to `Ftp.ls(...)` Alpakka should support local directory listing into streams.

[2017-04-24 13:03] 2m commented on #271
I agree that giving access to the lower level APIs is useful. Common usecases then can be implemented using that and if common and general enough can be contributed back to Alpakka.

[2017-04-24 19:32] mczubak opened #276 "DynamoDB: add support for temporary security credentials in AwsClient"
I'd like to add ```x-amz-security-token``` header in AwsClient implementation. It needs to be added if AWS credentials are obtained using AWS Security Token Service API. Otherwise requests to dybamodb service cannot be properly signed.

You can read more [here](http://docs.aws.amazon.com/AmazonS3/latest/dev/RESTAuthentication.html#UsingTemporarySecurityCredentials)

I can create a PR with small up

[2017-04-25 08:31] juanjovazquez commented on #272
It might be considered to define a common API for both components FTP and File/Directory. I don't know if this has been discussed before but it could be worth it since the semantics in both cases is very similar.

[2017-04-25 09:35] juanjovazquez commented on #155
I definitely do like the idea of having some post-processing operations as `move`, `remove` and maybe `copy`. That way, we make easier the most useful operations to the user. Otherwise, we force him to instantiate an FTP client and all that jazz.

[2017-04-26 08:17] #207 closed

[2017-04-26 11:14] johanandren opened #277 "Go through stages and look for resource leaks"
When the Materializer or ActorSystem is killed there will be no invocations of `onUpstreamFailure` or any of the other handler callbacks, stages must make sure to clean up resources in `postStop`. Go through all stages and look for resource leaks and fix

(The same work as done in akka/akka#22781)

[2017-04-26 16:06] 2m opened #278 "Fix scalaBinaryVersion in the docs"
All occurrences of `$scala.binaryVersion$` in the docs should be replaced to `$scalaBinaryVersion$`.

https://github.com/akka/alpakka/commit/58857279b8c0bfe13708718eefc3e8e1bb890b09#diff-fdc3abdfd754eeb24090dbd90aeec2ceR153

[2017-04-27 15:17] #278 closed

[2017-05-01 09:37] akreuzer opened #280 "azure storage queue"
Hi, I can add a connector for the Azure storage queue.
The api would be similar to the existing connector for Amazon SQS.

[2017-05-02 06:21] johanandren commented on #280
Sounds good!

[2017-05-02 14:25] nikitapecasa commented on #257
@s12v The PR is LGTM, I have nothing to add, everything I thought of has been already mentioned in the comments. Thank you!

[2017-05-03 08:56] tdroxler opened #282 "[MQTT] Same client for subscribe and publish"
Currently it seems to be impossible to use a same client for subscribe and publish, which is not convenient since we can't connect the same client twice to a MQTT broker, the second connection drop the first one.

We can't because the client is automatically created inside the mqtt `Source` and the `Sink`.

To fit my need, I materialized the client in the `Source`. (see https://github.com/tdroxler

[2017-05-03 10:15] 2m commented on #160
Fixed in https://github.com/akka/alpakka/pull/161

[2017-05-03 10:15] #160 closed

[2017-05-03 10:22] 2m commented on #282
Have you tried using a different `clientId` [like so](https://github.com/akka/alpakka/blob/399b968ae5fcb003364a828226df31406fb95aa4/mqtt/src/test/scala/akka/stream/alpakka/mqtt/scaladsl/MqttSinkSpec.scala#L40). When `clientId`s are different, a second connection should not drop the first one.

[2017-05-03 11:17] tdroxler commented on #282
Yes I tried, this is actually when I have a connection with an [auth](https://github.com/akka/alpakka/blob/399b968ae5fcb003364a828226df31406fb95aa4/mqtt/src/main/scala/akka/stream/alpakka/mqtt/Mqtt.scala#L78), as well as a [socketFactory](https://github.com/akka/alpakka/blob/399b968ae5fcb003364a828226df31406fb95aa4/mqtt/src/main/scala/akka/stream/alpakka/mqtt/Mqtt.scala#L79) that I get disconnecte

[2017-05-04 05:47] #191 closed

[2017-05-04 09:15] 2m opened #283 "Move XML parser from akka-stream-contrib"
With Java API and docs.

[2017-05-04 09:19] 2m commented on #111
Fixed in #111

[2017-05-04 09:19] #111 closed

[2017-05-04 09:21] 2m opened #284 "The MQTT-connector generates files in the project root"
Moved from https://github.com/akka/akka-stream-contrib/issues/56

[2017-05-04 11:48] johanandren commented on #283
Isn't this superseded by the bigger json/xml-streaming-parsing ticket?

[2017-05-04 14:09] 2m commented on #283
Eventually yes. #63 is going to have way more than this simple xmlparser from akka-stream-contrib. But in the mean time, I though I would move it here, so akka-stream-contrib can return to being GraphStages only.

[2017-05-04 16:42] wuservices opened #286 "Google Cloud Pub/Sub: Support running with local emulator for testing"
To develop and test locally, you can use the Google Cloud Pub/Sub emulator instead of hitting the cloud. See https://cloud.google.com/pubsub/docs/emulator. The integration should support this alternative host as well.

Here's where this was added to `google-cloud-java` https://github.com/GoogleCloudPlatform/google-cloud-java/pull/1317/files

[`HttpApi.PubSubGoogleApisHost`](https://github.com/akka

[2017-05-05 12:15] 2m commented on #2
Fixed in #110

[2017-05-05 12:15] #2 closed

[2017-05-08 09:09] #272 closed

[2017-05-08 15:03] 2m opened #290 "Failed: MqttSourceSpec should support will message"
While validating https://github.com/akka/alpakka/pull/289

https://travis-ci.org/akka/alpakka/jobs/229954352

[code]

[2017-05-09 00:02] Falmarri opened #291 "Don't auto-ack messages from amqp sources"
One should be able to ack a message after it gets emitted, not automatically

[2017-05-09 06:22] johanandren commented on #291
Duplicate of #97

[2017-05-09 06:22] #291 closed

[2017-05-09 06:23] johanandren commented on #291
Also, see #104

[2017-05-09 06:58] ennru opened #293 "CSV: Second double quote is ignored"
The CSV parser in 0.8 ignores a second quote as in `"Venture ""Extended Edition"""` which is expected to be parsed to `Venture "Extended Edition"`.

[2017-05-10 08:36] #293 closed

[2017-05-10 09:34] zaharidichev commented on #271
Just to be clear, Is this just a matter of preprocessing the Raw HTTP Request and signing it, with the credentials and then fire-ing away. Nothing more ?

[2017-05-10 13:05] marekzebrowski opened #295 "akka-stream-alpakka-sqs depends on elasticmq-rest-sqs"
dependency is compile time. if it is really needed it should be test-time only

[2017-05-10 13:55] pspiegel commented on #104
We (SBB) also need this feature in order to acknowledge (commit) or discard (rollback) messages from the JMSConnector manually later downstreams.
Furthermore, after a few (unsuccessful) retries we wanna put the message in some kind of a backout Q.

[2017-05-10 14:56] zaharidichev opened #297 "S3: Remove duplicated region argument in client methods"
Currently we have:

[code]

But then we have methods such as:

[code]

Whats the point of passing a region arg if we already have it configured into the implicit configuration. This is confusing. IMO, we need to omit the region argument and keep the one in S3Settings and use it.

[2017-05-10 18:58] zaharidichev commented on #297
As a matter of fact I think it will be better to proceed with this before addressing #271

[2017-05-11 14:44] johanandren commented on #297
Would be good to have one of the previous s3 committers comment on this as it will break the code of pretty much everyone who used the current s3 client API.

Ping @thereisnospoon, @kobmic, @Scalahansolo, @svezfaz, @2beaucoup

[2017-05-11 15:33] svezfaz commented on #297
I think cleaning up the API now might make sense. It seems like there is more than one wrong thing with it:

[code]

1. neither system nor materializer are actually needed to create a `S3Stream`. Only thing needed is an executionContext, and that could as well be passed to every method separately, instead of passing it at creation
2. as per @zaharidichev comment, we only really need the `S3Setting

[2017-05-11 15:35] zaharidichev commented on #297
@svezfaz Should we sort that stuff in this PR or create a new one ? Also, if anyone else can chip in with any comments, it will be greatly appreciated :)

[2017-05-11 15:43] svezfaz commented on #297
my take is that it won't be lots of work, and at least we would break the API with a single pass, instead of fragmenting this. But it's up to you of course.

[2017-05-11 16:00] zaharidichev commented on #297
Alright, will finish it later tonight and push then :)

[2017-05-11 19:41] zaharidichev commented on #297
@svezfaz While we are on these pages, what do you think about this piece of code here:

[code]

`S3Settings` already contains `AWSCredentials` so again this does not seem to be very clean. I think its better to remove the ability to pass `AWSCredentials`. Everything that is configuration should be coming from `S3Settings`.

[2017-05-11 20:12] kobmic commented on #297
@zaharidichev I like the possibility to pass AWSCredentials in S3Client (which then calls S3Stream). We always use IAM roles and never store AWS credentials in any config files. If I understand your proposal correctly, we would have to keep credentials in the config file?

[2017-05-11 20:29] tunesmith opened #300 "NSQ Connector"
Is there any existing work being done on adding an [NSQ](http://nsq.io) connector, or investigating whether it is possible? We are using NSQ internally and are interested in akka streams.

I can start looking into this myself, although my current experience level with akka-streams is low and I am not entirely sure NSQ has a sufficient API.

[2017-05-11 20:30] svezfaz commented on #297
@kobmic agreed, the contract for `S3Client` should probably stay. It makes sense for simpler usages to just bypass having specific config files. It will just need to be changed internally in how it creates the underlying `S3Stream`, e.g. it could load the reference config and override only credentials and region.

[2017-05-11 20:47] zaharidichev commented on #297
@kobmic The more I think about it, it is clear that you are quite right. @svezfaz So what do you think is the best course of action in that case. Do we leave it like it is ? I did not quite get what you mean by "override". By the looks of it, we now are obliged to pass e separate credentials object on construction no matter what.

[2017-05-11 20:57] svezfaz commented on #297
What I meant is, we could have `S3Stream` that can be only created passing a `S3Settings`, and keep `S3Client` simpler API requiring only credentials and region.
`S3Client` internals could look something like

[code]

(this would require making `S3Settings` a case class.. which might be a good call anyway ;) )

[2017-05-11 21:20] zaharidichev commented on #297
That makes sense. However what happens in the situation that is the opposite of the one that @kobmic describes. Imagine a client of the API actually does keep all the settings (including credentials and region) in the configuration file. Then he is forced to provide these when constructing the S3Client even though they will be loaded from the config file. Does not seem very intuitive to me.

[code

[2017-05-11 21:28] svezfaz commented on #297
@zaharidichev yes, that looks like what we need

[2017-05-12 04:20] kobmic commented on #297
@zaharidichev looks good to me

[2017-05-12 06:53] johanandren commented on #300
Sounds interesting, probably a good way to increase your experience level as well :) 👍

[2017-05-12 07:07] dpfeiffer commented on #295
Is someone actively working on this? @marekzebrowski?

[2017-05-12 07:23] marekzebrowski commented on #295
I don't know. In my project I just excluded unwanted dependency:
`"com.lightbend.akka" %% "akka-stream-alpakka-sqs" % "0.8" exclude("org.elasticmq", "elasticmq-rest-sqs_2.11")`

[2017-05-12 07:28] johanandren commented on #295
It's a small fix, please PR this if you feel like it @dpfeiffer

[2017-05-12 07:35] dpfeiffer commented on #295
@johanandren if I remember correctly @jrudolph and @hseeberger were discussing a bugfix release for yesterday or today. Can that fix make it still in?

[2017-05-12 07:59] johanandren commented on #295
I think it will not be released today, so likely, yes.

[2017-05-12 10:19] #295 closed

[2017-05-12 10:41] zaharidichev commented on #297
@svezfaz

The method below however needs both the Actor System and the materializer,  You guys thinks that its better to pass all that is needed implicitly on every call, where needed, instead of provideng them on construction ?

[code]

[2017-05-12 10:56] svezfaz commented on #297
@zaharidichev you're right - I missed the fact that it's using `Http().singleRequest` in a few places. This indeed requires a materializer. I would pass it in at creation - we can keep the `mat.executionContext` calls wherever needed.

Where do you see an `ActorSystem` is needed?

[2017-05-12 10:58] zaharidichev commented on #297
Hi there. Its needed in calls such as Http().singleRequest(req). Because...

[code]

[2017-05-12 11:01] zaharidichev commented on #297
So we really have two options actually. One is to pass things at construction time, the way it is now and the other is to pas whatever is needed as implicits. I think we need to choose one of them and to stick to it.

[2017-05-12 11:04] svezfaz commented on #297
completely missed that as well. sorry :/
I would just pass them at construction

[2017-05-12 12:34] zaharidichev commented on #297
This we should be all good now.

[2017-05-13 18:41] lnr0626 opened #302 "SQS: Allow requesting attributes for messages"
I've been using alpakka's sqs connector (great work btw!), and need to be able to request message attributes for the messages that come in.

Would y'all accept a PR with this functionality?

[2017-05-14 18:46] Falmarri commented on #104
I have a PR out that is a first draft of this functionality, but I didn't see this issue before I wrote it. It's not nearly as safe as the design suggested in this version.

https://github.com/akka/alpakka/pull/292

[2017-05-15 02:56] thepont opened #303 "S3 Download of file larger then 8388608 bytes throws EntityStreamSizeException"
Using the Java DSL attempting to download a file larger then 8388608 bytes returns the following exception.

I have set my `akka.http.[server|client].parsing.max-content-length` setting to a higher setting, although I am wondering if there is a way to use the s3client without a size limit, such as the `withoutSizeLimit` directive.

[code]

Code used to create the issue.

[code]

[2017-05-15 06:46] johanandren commented on #303
Note that it should be `akka.http.client.parsing.max-content-length` for the client, the `[server|client]` is because the size limit stage does know if it is running on the server or the client.

[2017-05-15 06:56] johanandren commented on #302
What is that, a property of the messages or something you fetch separately from SQS?

[2017-05-15 07:07] thepont commented on #303
@johanandren thanks, changed that for the client and it works for my purposes, also noticed this can be set to `infinite` to completly remove the restrictions.

I wonder if other users would like a more granular approch since they might be using the HTTP client for multiple requests with different levels of trust and expecting different size responses.

[2017-05-15 07:48] johanandren commented on #303
I think that discussions belong in the Akka HTTP issue tracker, please open a ticket there about that (you can refer to this issue from that like this: akka/alpakka#303)

[2017-05-15 11:43] lnr0626 commented on #302
There are two additional properties you can request along with the messages - Attributes and MessageAttributes. Attributes are some aws metadata about the specific message, and MessageAttributes are custom attributes that the sender attached to the message. They have some info in their [documentation for ReceiveMessage](http://docs.aws.amazon.com/AWSSimpleQueueService/latest/APIReference/API_Recei

[2017-05-15 11:49] johanandren commented on #302
Thanks. I think that sounds interesting, a PR is welcome :)

[2017-05-16 15:33] krasserm commented on #74
I'm now resuming work on this issue with a slight modification of the plan:

Step 2:

- Upgrade to Akka 2.5 ([#30](https://github.com/krasserm/streamz/issues/30))
- in-out message exchange pattern for `receive` ([#28](https://github.com/krasserm/streamz/issues/28))
- Run endpoint consumer and producer on `akka.stream.default-blocking-io-dispatcher` ([#33](https://github.com/krasserm/streamz/issues

[2017-05-16 17:39] johanandren commented on #74
Sounds good, One problem with upgrading to 2.5 here is that it may make the connector impossible to use with 2.4 (we're binary backwards compatible but not forward binary compatible), best would be if you could use 2.4 but test it also with 2.5 as that has stricter guard rails for custom graph stages.

[2017-05-17 05:30] krasserm commented on #74
Ok, will revert to 2.4 then. There are no features from Akka 2.5 I need at the moment. What are the plans for migrating Alpakka to Akka 2.5?

[2017-05-17 07:28] #302 closed

[2017-05-17 08:04] johanandren commented on #74
We haven't said anything explicitly, but at the latest when we EOL 2.4, I think that will be the end of the year. We want it to work with 2.5 though, so we should probably make the connectors run their tests on both 2.4 and 2.5 even if we list 2.4 as the default target Akka version.

[2017-05-17 11:49] zaharidichev commented on #297
@svezfaz does that look good as it is ?

[2017-05-17 14:21] 2m commented on #74
Thanks for reminding. I had this from earlier, but not pushed: https://github.com/akka/alpakka/pull/305

[2017-05-17 14:25] #283 closed

[2017-05-18 07:29] #297 closed

[2017-05-18 15:08] jrudolph opened #307 "Better documentation and tests for S3 listBuckets"
Currently, it has no real usage tests that we could use in the documentation, so the documentation just shows the signature. Would also be nice to add Scaladoc to the entry point itself.

/cc @Scalahansolo

[2017-05-19 06:58] jrudolph opened #309 "Clean up build"
* sort projects alphabetically in build.sbt and Dependencies.scala
 * factor out dependencies to object

[2017-05-19 08:01] 2m opened #310 "NoClassDefFoundError: akka/stream/impl/StreamLayout$Module"
While validating https://github.com/akka/alpakka/pull/308

https://travis-ci.org/akka/alpakka/jobs/233906736
https://travis-ci.org/akka/alpakka/jobs/233906734

[2017-05-19 08:15] 2m commented on #310
The issue is from here: https://github.com/akka/alpakka/commit/080f70a08fca978e7be75c3575e9fd960b1795b6#diff-0ecdbc5a001d52fb34f5eafb7cd1aaa6R118

"org.elasticmq" %% "elasticmq-rest-sqs" % "0.13.4" is not Akka 2.4 compatible.

[2017-05-19 14:02] thereisnospoon commented on #271
@zaharidichev Yes, you are right. Sorry for such a big delay in my response.

[2017-05-23 17:41] Scalahansolo commented on #307
I might have some time this week to get to this. I apologize for not including this in the original PR.

[2017-05-24 08:35] #310 closed

[2017-05-27 14:22] krasserm commented on #74
Streamz 0.8 is now released https://github.com/krasserm/streamz/releases/tag/v-0.8. Any objections to close this issue with that release? It covers all items mentioned in step 2. Step 3 are only internal refactorings and not user-facing. They are tracked at https://github.com/krasserm/streamz/issues.

[2017-05-29 11:55] patriknw commented on #74
Sounds good, thanks @krasserm

[2017-05-29 11:55] #74 closed

[2017-05-29 14:58] francisdb opened #312 "AWS S3 301 Moved Permanently handling"
The Alpakka S3 client currently silently ignores 301 responses that might occur when reading from the wrong region. The official client logs a warning in this case.

Would be nice if at least some warning/error were logged, I had to turn on debug logging for akka.http to see why my bucket listings were empty.
A automatic redirect follow + logged warning about performance is also am option.

(on th

[2017-05-29 15:49] #286 closed

[2017-05-30 09:01] francisdb opened #313 "AWS S3 delete object missing"
The alpakka client currently supports listing, adding, getting but not deleting. Is there a specific reason for that?

Something like this
[code]
(and deleteObjects())

I understand this is not a streaming call but still it's a bit annoying to have to depend on an other (blocking) client to do the delete.

What would the best return type be? Source[Unit, Unit] or Future[Unit]?

[2017-05-30 11:27] francisdb opened #314 "AWS S3 putObject missing"
The multipart upload is is rather slow (200-500ms) compared to a normal put operation (80-200ms) when used for small files.

[2017-06-01 10:18] kciesielski opened #315 "CSV line scanner skipping last line?"
I stumbled upon a weird problem in one stream where I read CSV from a file, transform it and then write results to another file. I managed to isolate this issue in a test here: https://github.com/kciesielski/akka-quickstart-scala/blob/master/src/test/scala/com/lightbend/akka/sample/CsvTest.scala
You can download the whole repo, it's created solely for the purpose of demostrating my issue.

The pro

[2017-06-01 15:04] francisdb opened #316 "AWS S3 url encoding bug"
We have a bucket object with a a space in it's key

[code]

fails with the following error

[code]

the case with a key of for example "my dir/my object.json" should also work (no encoding of the `/`'s)

when manually replacing `" "` with `"%20"` I get 403 Forbidden which indicates the signing is also broken with these kinds of url's

(the official client happily accepts keys with spaces)

[2017-06-02 05:26] ennru commented on #315
Hi @kciesielski

When there is no newline at the end of the source it is meant to parse the last line on stream completion. Interesting that it is connected to using a File sink.
I'll have a closer look soon.

[2017-06-02 05:33] kciesielski commented on #315
Yes, I looked through the sources and I noticed the `onUpstreamFinish` case emitting last line, not requiring the newline char. It would be great if you could investigate this, thanks!

[2017-06-03 18:09] ennru commented on #315
Hm, I think it might not be connected to CSV stuff. Adding a `.log()` and even a `.map(identity)` between `fromPath` and the line scanner makes the error go away. Will try other stuff...

[2017-06-03 19:48] kciesielski commented on #315
Yeah, maybe it's caused by something in `FileIO`. With logging enabled I could spot that the source finishes earlier in cases when tests fail. However, I have no idea why adding a newline to the input file would make the problem go away, logging shows that the whole contet gets read at once anyway. Indeed a bizarre problem to trace :)

[2017-06-03 20:13] ennru commented on #315
Just landed after Scaladays.

There is a problem in the CSV stage when data and completion come in a certain way. I know a solution, but haven't succeeded in writing a test yet.

Am 3. Juni 2017 21:48:23 MESZ schrieb Krzysiek Ciesielski <notifications@github.com>:

[2017-06-03 20:50] gumanoid commented on #176
+1

[2017-06-04 10:45] htimur commented on #251
@s12v Hi Sorry for the late update. The problem that I'm trying to handle is related directly to the problem that

There is an issue https://github.com/akka/akka/issues/19950, which is more then a year old, and seems like isn't gonna be solved yet.

So I was thinking, that we could define something like "supervision strategy" for the SQS source/sink, don't have the exact implementation in my mind

[2017-06-04 18:33] areyouspiffy commented on #170
@sarveshseri Are you working on this? If not, I will submit a PR for this in the next couple days.

[2017-06-05 06:42] sarveshseri commented on #170
@areyouspiffy I had the notion that you were already working on it so I did not pick it up.

You should go ahead with your PR.

[2017-06-05 10:21] #315 closed

[2017-06-07 10:06] francisdb commented on #224
Certainly useful as we are moving more stuff to akka streams.
(I'm one of the authors of https://github.com/waylayio/kairosdb-scala)

[2017-06-07 10:21] psycho-ir commented on #224
@francisdb cool, I will prepare a PR for it by end of the week.

[2017-06-07 16:22] Corbel opened #321 "XML: make code in tests more consistent"
Doing some simple work to get to know the project.

[2017-06-08 12:54] yiftachdy opened #326 "Support multiple Puts in the HBase Connector"
Add support for batching inside the HBase Connector, meaning if one element from the stream is translated into multiple puts (for example - when Grouping in the stream, you will receive a collection of elements).

[2017-06-08 16:12] fydio opened #330 "AWS S3 Invalid continuation token."
On a bucket with over 1000 files in it, getting a listing with `S3Client.listBucket` throws the following exception:

[code]

[2017-06-09 14:03] #309 closed

[2017-06-09 14:06] #321 closed

[2017-06-09 14:39] 2m commented on #290
This one started to fail almost constantly now:
https://travis-ci.org/akka/alpakka/jobs/241206709

[2017-06-09 15:52] zhijun opened #331 "AMQP: There is no way for connections to be shared"
It seems we don't have an approach to share a certain connection among AMQP Sources/Sinks, which wasted the concept of Channel as well as the benefits it brings.  Under scenario of large number of clients on a single machine,  sharing connection would be highly desired.

[2017-06-12 20:42] matsluni commented on #303
I believe there is already a more granular approach to set the size limit per request/response if I understand the docs correct: https://github.com/akka/akka-http/blob/master/akka-http-core/src/main/scala/akka/http/scaladsl/model/HttpEntity.scala#L135.

Maybe this ticket can be closed than?

[2017-06-12 22:25] Scalahansolo commented on #330
I implemented that method. Ill take a look.

[2017-06-12 23:18] chandrujsr opened #334 "MqttSink is not compatible for Future"
Hi,

I have scenario where message is consumed from kafka topic, process some DB call(which is Futures) and publish to Mqtt(via MqttSink)

MqttSink is not compatible for Future[MqttMessage]

Ex:
This will not work,
Source(1 to 10)
      .map(i => Future { MqttMessage("t", ByteString("ohi")) })
      .to(MqttSink(MQTTConnection.connectionSettings, MqttQoS.AtLeastOnce))

My doubt is, How to publish

[2017-06-13 03:09] Scalahansolo commented on #330
Can you post an example of what your continuation token is, as well as what you expect it to be to help debugging?

[2017-06-13 06:48] 2m commented on #334
Hi. Use `mapAsync` instead of `map`.

[2017-06-13 06:50] 2m commented on #334
I am going to close this ticket as this is a general Akka Stream question. Please feel free to drop by https://gitter.im/akka/akka if you need to discuss Akka Stream usage further. ;)

[2017-06-13 06:50] #334 closed

[2017-06-13 15:28] AleksaNissatech opened #337 "[MQTT] Retained Message"
I'm trying to send retained messages to broker but I can't find a way to set retained flag for a regular message. Will class contains this option, but I can't see it for MqttMessage. Is there a way to accomplish this? Thank you :)

[2017-06-14 13:05] 2m commented on #337
Hi. It is not supported right now. Should be an easy improvement. Would you be willing to send in a PR? :)

[2017-06-14 14:06] vlovgr commented on #330
The problem seems to be the `replaceAll` here:

https://github.com/akka/alpakka/blob/master/s3/src/main/scala/akka/stream/alpakka/s3/impl/HttpRequests.scala#L29

Removing the `replaceAll`, everything works fine for me. The `withQuery` method should take care of all escaping like this, so should be no need to do it manually.

[2017-06-14 14:58] francisdb opened #339 "AWS S3 S3Exception: The continuation token provided is incorrect"
When listing objects from a bucket in region `ap-southeast-2` we get the following error. For now we have not seen this on the other region we use.

[code]

[2017-06-14 15:01] Scalahansolo opened #340 "Building for Scala 2.11?"
Hey team. I have a couple open RBs. Since the last time I contributed, alpakka has started getting built for 2.12. However at Twitter we have yet to upgrade to 2.12 so in order to test my changes properly I need to build for 2.11. I'm sure that I am just doing something wrong, but I cant seem to figure out how to publish local jars built with 2.11 compatibility.

Sorry for opening an issue for thi

[2017-06-14 15:02] Scalahansolo commented on #339
This is a duplicate of #330 There already is fix pointed out.

[2017-06-14 15:03] Scalahansolo commented on #330
Ahh I see. I can open a RB for this, or would you rather open that?

[2017-06-14 15:03] #339 closed

[2017-06-14 15:06] raboof commented on #340
Indeed the issues are more meant for issues and not really for questions - you could try gitter (https://gitter.im/akka/akka, https://gitter.im/akka/dev) or the akka-user mailinglist at https://groups.google.com/group/akka-user next time.

Sounds like you're looking for `sbt ++2.11.11 publishLocal`?

[2017-06-14 15:06] #340 closed

[2017-06-14 15:12] vlovgr commented on #330
@Scalahansolo Please go ahead and open a PR. 👍

[2017-06-14 15:19] Scalahansolo commented on #330
Done

[2017-06-15 10:03] #330 closed

[2017-06-15 22:36] ndriscoll opened #343 "AMQP: Sink promise never completes if connection fails"
If opening a connection to rabbit during stage preStart fails, the AmpqSinkStage's promise will never be completed.

[2017-06-16 06:02] niranjan-kachhawa opened #345 "Durable Subscriber for JMS Connectors"
How can i add durable subscriber in JMSConnector using below code:

`Source<String, NotUsed> jmsTopicSource = JmsSource
    .textSource(JmsSourceSettings
        .create(connectionFactory)
        .withTopic("topic")
        .withBufferSize(10)
    );`

[2017-06-19 07:13] francisdb opened #347 "AWS S3 Listing bucket should return more info than only the key"
The official client returns this:

[code]

more info here:
http://docs.aws.amazon.com/AmazonS3/latest/API/v2-RESTBucketGET.html

[2017-06-19 07:55] shuttie opened #348 "AWS S3 S3Client loads application.conf again instead of reusing one from the ActorSystem"
Currently, AWS S3 client ignores all the application config loaded into ActorSystem. If someone (like me) needs to override some of the settings in runtime while instantiating ActorSystem, for example in tests, then overridden values got ignored and the whole application config is loaded from scratch for the second time.

How to reproduce the issue (and how it affects my everyday life):

    val c

[2017-06-19 09:55] synox opened #350 "JMS: TimeToLive Support"
It would be great to support TTL when sending Messages to JMS.

The akka.stream.alpakka.jms.JmsSinkSettings could be extended with
 - javax.jms.DeliveryMode
 - javax.jms.Message
 - timeToLive (millis)

Then akka.stream.alpakka.jms.JmsSinkStage#createLogic could be changed to use those parameters in `jmsProducer.send(textMessage, ...)`

As a PoC, I made a copy of akka.stream.alpakka.jms.JmsSinkStag

[2017-06-20 06:00] niranjan-kachhawa commented on #345
Can we extend the GraphStage< SourceShape< Message > > class and then override the method which creates an consumer ?

[2017-06-20 22:57] l15k4 opened #353 "[FTP -> S3] possible regression 0.7 -> 0.9"
Hey,

I'm using this stream to copy gzipped files from FTP to S3 :
[code]
and even though it happens very  rarely, sometimes the file on s3 is corrupted and cannot be gunzipped due to :
[code]
I'm thinking of a regression because I copied tens of thousands of files with `0.7` without a problem and once I bumped to `0.9`, it started happening occasionally.

Considering the fact that these things ca

[2017-06-21 14:56] tycho01 opened #355 "link broken"
This repo lists as its url this [link](http://developer.lightbend.com/docs/alpakka/current/), which for me gives a 404. Swapping out `current` for a version, e.g. [`0.9`](http://developer.lightbend.com/docs/alpakka/0.9/), works though.

[2017-06-22 06:58] #316 closed

[2017-06-22 07:23] #343 closed

[2017-06-22 07:26] #348 closed

[2017-06-22 09:47] francisdb opened #357 "AWS S3 Invalid signature calculation"
There is still a case where signatures are wrong

when listing using non-path style access in `us-east-1`

[code]

continuation of #342

notifying @2m

[2017-06-22 09:50] 2m commented on #357
Thanks for quick turnaround. We will get it right, eventually. :)

[2017-06-22 10:18] #350 closed

[2017-06-22 11:25] francisdb commented on #357
@2m fix was another documented exception case we did not handle

[2017-06-22 12:50] francisdb opened #360 "Flakey unit tests"
Create a few PR's and for each of them tests would fail that were unrelated

All these are from a single build (different scala/akka versions). One of the builds even timed out.

[code]

[2017-06-22 17:04] 2m commented on #355
The original link is now back. It was a result of an intermittent issue with bintray (http://status.bintray.com/) which is now being solved.

[2017-06-22 17:04] #355 closed

[2017-06-23 10:00] raboof commented on #360
hi @francisdb, yes we've noticed this too and it's quite disruptive. The general approach we try to take is to create an issue for each flakey test and mark it with the `failed` label (for example #290 for the MQTT "should support will message"). Fixing those is a high priority as they interfere with development, but these can be elusive issues to track down.

Could you add (or reopen) issues for

[2017-06-23 10:02] francisdb commented on #360
sure, sounds like a good idea to tackle these one by one

[2017-06-23 10:02] #360 closed

[2017-06-23 10:06] francisdb opened #361 "Failed: CommonFtpStageSpec"
Flakey ftp tests, see also #236

I have seen other ftp tests fail with the same: `java.security.SignatureException: Invalid encoding for signature`

[code]

and

https://travis-ci.org/akka/alpakka/jobs/247406685

[code]

[2017-06-23 12:50] francisdb commented on #314
I want to implement this but I have a hard time wrapping my head around the streams api.

Can somebody explain me how I would create a Sink[ByteString] that appends everything to a single http PUT?
I need the bytes coming into the Sink to be transformed into a Source[ByteString,_] for the http request.

Any example would be welcome, any pointers @2m ?

[2017-06-23 14:40] juanjovazquez commented on #361
Apparently, it seems to have to do with [this regression](https://sourceforge.net/p/jsch/bugs/111/).

[2017-06-24 11:55] keyursuchdeo opened #362 "Windows - ls operation with nested folder structure fails with file not found exception"
This is a windows specific issues. In case of nested folder structure under FTP root (e.g. /foo/bar/sth.txt), the program converts it into foobar (loosing separator), and hence failing to find the file.

The issue seems to be due to the following line which puts windows file separator in path, changing /foo/bar to \foo\bar...

alpakka/ftp/src/main/scala/akka/stream/alpakka/ftp/impl/SftpOperations.

[2017-06-27 07:42] francisdb commented on #361
Should we disable those tests until this is fixed upstream?

[2017-06-27 07:53] francisdb opened #363 "Failed: CommonFtpStageSpec"
related to #361

https://travis-ci.org/akka/alpakka/jobs/247406685

[code]

[2017-06-27 07:57] francisdb commented on #363
closing as same spec as #236

[2017-06-27 07:57] #363 closed

[2017-06-27 08:54] raboof commented on #361
@juanjovazquez good find! Travis is running at oracle jdk 1.8.0_131, so that sounds plausible. If that's the issue then that points to something that would break in production as well, not just a test failure. I'll create an issue for that, and it seems reasonable to ignore this test until we pick up that issue.

[2017-06-27 08:58] jotsif opened #364 "Setting routing key per message in AMQP integration"
RabbitMQ supports setting a routing key per message, but the AMQP Sink currently uses the routing key created when defining the sink (https://github.com/akka/alpakka/blob/master/amqp/src/main/scala/akka/stream/alpakka/amqp/AmqpSinkStage.scala#L84). Would be nice to do it on a per message level.

[2017-06-27 08:59] raboof opened #365 "Secure FTP connection intermittently fails"
We use version 0.1.54 of jsch, which [appears to contain a bug](https://sourceforge.net/p/jsch/bugs/111/) that is triggered [since jdk 1.8.0_121](https://bugs.openjdk.java.net/browse/JDK-8174719).

We're impacted by this as shown by the test failures tracked in #361.

It looks like we'll either have to move away from jsch, wait for the bug to be fixed there, or help them fix it.

[2017-06-27 09:43] juanjovazquez commented on #361
@raboof yeah, it sounds reasonable to ignore these tests for the time being. OTOH, depending on the response we get from the Jsch side regarding this issue, maybe we'd have to face a replacement for this library.

[2017-06-27 13:14] raboof commented on #365
Hmm jsch seems quite dead, perhaps we should consider moving to another library anyway, for example https://github.com/hierynomus/sshj

[2017-06-27 15:21] easel commented on #170
This looks awesome! Any thoughts of doing a Sink as well?

[2017-06-27 19:27] shyamsalimkumar opened #367 "S3 download fails when credentials are provided at EC2 level"
[code]

The above works when credentials are placed at `~/.aws/credentials` (and probably at lower levels too) but failed when they are set at a higher level (Amazon ECS container credentials/Instance profile credentials) with the message `The AWS Access Key Id you've used does not exist in our records.`. I don't think it has something to do with `DefaultAWSCredentialsProviderChain` as the Java SD

[2017-06-28 00:45] areyouspiffy commented on #170
@easel I don't personally has a use for a sink but I'm more than happy to add that if you think find it useful 👍

[2017-06-28 04:09] easel commented on #170
@areyouspiffy I'd definitely use it and be willing to collaborate on it and test it -- I'm going to have to write one otherwise =p

[2017-06-28 07:48] aserrallerios commented on #170
We've implemented one Flow that publishes messages to a Kinesis stream and we're currently testing it on production. If you're patient I can port it to alpakka.

[2017-06-28 09:22] raboof commented on #365
Pinging past ftp module contributors: @svezfaz @juanjovazquez @argast @nktpro @eharik @rafacm @neowulf33 - this bug seems to be triggered quite a lot on recent openjdk versions, anyone up to taking a look?

[2017-06-28 12:07] juanjovazquez commented on #365
@raboof I'll try to have a look into it ASAP. We should probably assess moving away from jsch.

[2017-06-29 08:06] #347 closed

[2017-06-29 08:09] #312 closed

[2017-06-29 08:10] francisdb commented on #312
thanks

[2017-06-29 08:55] francisdb commented on #361
I guess we can close this one and the pull request for #365 should re-enable the tests?

[2017-06-29 08:55] #361 closed

[2017-06-29 09:24] 2m commented on #170
I will close this as initial Kinesis support (Source) has been merged. Please open tickets for sink and flow discussions correspondingly.

[2017-06-29 09:24] #170 closed

[2017-06-29 09:31] #357 closed

[2017-06-29 10:34] 2m commented on #314
The bytes that are coming into the Sink are already coming from a `Source[ByteString,_]`. So no transformation should be necessary.

Are you thinking about the same API that multipart upload has? That is calling `s3Client` to get a sink and then connecting `Source[ByteString,_]` to it?

[2017-06-29 11:22] francisdb commented on #314
I just thought it might be a good idea to have the same signature for both yes

[2017-06-30 12:24] #307 closed

[2017-06-30 13:32] raboof opened #371 "whitesource build failure"
An build showed an intermittent failure with the following error:
[code]

[2017-06-30 13:56] 2m commented on #37
Fixed in #252

[2017-06-30 13:56] #37 closed

[2017-07-01 06:39] tlockney opened #372 "Update to AWS SDK 2.0"
This would only make sense as a POC at this point, since the [new AWS SDK](https://aws.amazon.com/blogs/developer/aws-sdk-for-java-2-0-developer-preview/) is still only in preview, but the new implementation includes a few key features that should make integration with with Akka world more effective:

- non-blocking IO; specifically leveraging Java's CompletableFuture
- AsyncRequestProvider, which

[2017-07-02 05:11] areyouspiffy commented on #372
How cool is that? I'd be happy to try it out on the `Kinesis` source--it has a pretty minimal surface area so it wouldn't be much trouble.

[2017-07-03 08:48] gipeshka opened #374 "S3 signature doesn't match expected when path contains special chars"
Hi guys.

Currently I'm facing an issue with alpakka s3 client 0.10 when accessing a file like `files/überall.csv`
[code]
When I pass the key with encoded special chars, e.g. `files/%C3%BCberall.csv` I get another exception: `The specified key does not exist.`

Supposedly the issue is related to https://github.com/akka/alpakka/issues/357 and https://github.com/akka/alpakka/issues/316 because in ve

[2017-07-03 11:45] francisdb commented on #374
Will create a test and look into this!

[2017-07-03 12:19] gipeshka commented on #374
Hey @francisdb I added one on my local branch, actually shows that it's broken. I'll try to look into it myself, but anyway hope it helps https://github.com/gipeshka/alpakka/commit/d10058bee8c3de4b3ad2fd54ff841466a1124558

[2017-07-03 12:25] francisdb commented on #374
Also got this reproduced, I wonder if there is still some issue with the CanonicalRequest logic

[2017-07-03 14:42] francisdb commented on #374
found the issue, non-ASCII chars are not correctly encoded by CanonicalRequest, fix on it's way

[2017-07-03 15:33] bayarmunkh opened #375 "SSE reconnect issue"
Hi,

`EventSource` is unable to reconnect to the server in the following scenarios.

1. The server is unavailable, the client starts - the client is unable to connect to the server when the server starts up.
2. The server is available, the client connects to the server. Then the server gets restarted before sending any message to the client - the client is unable to reconnect to the server.

[2017-07-03 16:57] hseeberger commented on #375
Thanks for reporting, I'll investigate.

[2017-07-03 20:23] mehmetgunturkun opened #377 "Hazelcast Connector"
Hi,

I can provide a connector for Hazelcast. However, if anyone had a better idea that might contribute better to commmunity I am open to suggestions.

[2017-07-04 08:44] francois-travais opened #378 "MQTT manual acknowledge"
Hi there,

Is there a way to manually acknowledge messages ? I'm using the Java library. Paho supports it by using `void setManualAcks(boolean manualAcks)` of `IMqttAsyncClient` and then acknowledging each message using `void messageArrivedComplete(int messageId, int qos)`.

Or is it so that the message isn't acknowledged before it reaches the sink of the stream ? I don't think that's the case fro

[2017-07-04 09:22] francisdb opened #379 "Failed: StrictHostCheckingSftpSourceTest"
[code]

and one more

[code]

same as #365, some more tests need to be ignored (#366)

[2017-07-05 10:47] frj opened #380 "S/FTP sink materializes a successful IOResult if connection fails during upload"
Hi there,

We are having an issue with the Sftp sink. It is reporting a successful upload in the event of an IOException happening during the upload its self.

Heres the test app Im using

[code]
[code]
The steps Im using to reproduce are:
* I run the above app against the sftp sever
* Wait until the file has been created remotely
* Kill the network on the local machine
* wait a few seconds

The o

[2017-07-05 14:40] aserrallerios opened #382 "Kinesis publisher Flow/Sink"
We can implement a Kinesis publisher Flow/Sink for alpakka.

I already have a working implementation, fully tested and pretty performant. If you're ok with it I can migrate it to alpakka & open a PR.

[2017-07-05 22:37] mehmetgunturkun opened #383 "SQS - Batch Send and Delete Operations"
Hi,

As far as I can see, there is no support for batch sending and deleting messages over SQS. I thought it might be useful.

Any ideas, interest?

[2017-07-06 03:00] nberthet opened #384 "S3 - an invalid signature is generated when the Range header is specified"
When the range (https://github.com/akka/alpakka/pull/265) is being added to the download request, it replaces the "Host" header; it causes the generated signature to fail validation on S3.

In S3Stream.scala@101, the original headers should be concatenated
[code]

[2017-07-06 06:29] aserrallerios commented on #383
Yes, this is a must. We are not using alpakka's SQS because of this issue. If your throughput needs are above average, you'll get a ton of server errors if you're not using batches of 10 (the max batch size).

I'd just change the internal SQS stages to use `Seq[Message]` instead of `Message` and put a `batch` size 10 before them. The changes would be trivial and the interface would remain unchange

[2017-07-06 07:21] raboof commented on #384
Looks reasonable! You could also use [addHeader](http://doc.akka.io/api/akka-http/current/akka/http/javadsl/model/HttpRequest.html#addHeader(header:akka.http.javadsl.model.HttpHeader):Self) - a PR with this change (and a test) would be most welcome!

[2017-07-06 08:38] raboof commented on #384
Oh I missed you already had submitted a PR - unfortunately GitHub linking doesn't always work.

[2017-07-06 08:50] solicode commented on #257
I recently ran into the duplicate messages piling up issue described here. Even with idempotent requests, it puts a lot of unnecessary strain on the system.

I tried the branch with the proposed fix and confirmed that it solved the issue for me.

I'm curious, is there anything left blocking this from being merged?

[2017-07-06 08:56] s12v commented on #257
@solicode, actually, I only need to fix a test and it's done... I didn't have time due to a job change. Will look into it this week.

[2017-07-06 20:09] mehmetgunturkun commented on #383
Hi @aserrallerios thanks for your offer but I already have a working implementation and going to create a PR. However, I would love to get a review from you when I send since it meets your needs.

[2017-07-06 20:37] joearasin commented on #372
This looks like a fantastic idea -- I don't think the approach I took on the S3 uploader is sustainable, and being able to offload as much of the AWS integration to Amazon would be great for keeping things maintainable.

[2017-07-07 05:00] #303 closed

[2017-07-10 07:07] yaroot opened #388 "S3Settings(Config) takes config with "akka.stream.alpakka.s3" prefix"
Just wondering why the config for `S3Settings.apply()` would need that prefix, the change is done in 1b513be3589aa64f88e4bab281d912906a0e3dfd, but did not explain this change. Suppose someone would like to connect to multiple s3/s3-compatible services, the original one would make more sense.

If no one objects I'll make a PR.

[2017-07-11 14:35] francisdb commented on #314
It seems that S3 might not support chunked uploads without knowing the size upfront
https://forums.aws.amazon.com/message.jspa?messageID=561616

[2017-07-11 14:36] francisdb commented on #314
And regarding the sink I created this stackoverflow question
https://stackoverflow.com/questions/45035590/creating-a-akka-streams-sink-that-sends-all-data-to-a-http-endpoint

[2017-07-11 16:56] francisdb commented on #379
@raboof added another one to ignore: `RawKeySftpSourceTest `

[2017-07-11 20:34] raboof commented on #379
Thanks for the observation - PR (or, of course, help getting #373 over the finish line) welcome!

[2017-07-11 20:37] raboof commented on #290
This still seems to happen a lot, also for https://travis-ci.org/akka/alpakka/builds/250323255

[2017-07-11 20:39] raboof commented on #371
Another one: https://travis-ci.org/akka/alpakka/jobs/250806531

[2017-07-12 07:29] #375 closed

[2017-07-12 08:45] raboof opened #390 "Failure: No output has been received in the last 10m0s"
The build regularly fails due to being stalled, for example https://travis-ci.org/akka/alpakka/jobs/252702213 .

I wonder if we could somehow at least take a stack dump to get some idea of where it's waiting.

[2017-07-12 08:59] frj opened #391 "akka.stream.alpakka.s3.impl.FailedUpload does not have a meaningful message"
Hi there,

When logging akka.stream.alpakka.s3.impl.FailedUpload exceptions using slf4j we the exceptions formatted as follows:
[code]

The exception wraps a list of causes, it would be useful to be able to see what the causes were without having to implement formatting specific to those exceptions

[2017-07-12 10:01] raboof commented on #390
Also https://travis-ci.org/akka/alpakka/jobs/252740531

[2017-07-12 14:44] raboof opened #395 "FTP: RemoteFileSettings classes inside or outside companion object?"
Most subclasses of `RemoteFileSettings` are defined inside the `RemoteFileSettings` companion object, but `SftpSettings` are defined outside.

What do we prefer?

[2017-07-12 15:09] juanjovazquez commented on #395
@raboof We should review the entire model looking for consistency. I didn't want to do it in the context of #373 in order to not face too many changes at once. Maybe we can deal with that after merging. WDYT?.

[2017-07-12 15:13] raboof commented on #395
I agree we should treat this as a separate issue and not roll it into #373

[2017-07-12 15:17] #365 closed

[2017-07-12 15:20] raboof commented on #206
Is this still a bug, or is the bug fixed with #275 (and does the wish for more tests remain)?

[2017-07-12 15:23] raboof opened #396 "FTP: include imports in code examples"
Most of the code examples don't include the proper includes, would be nice to add for those of us who sometimes use primitive editors :)

[2017-07-12 15:27] raboof opened #397 "FTP: incorrect credentials should fail the stream"
Given this simple example:

[code]

This will not work as this host does not allow anonymous login.

Indeed the logging confirms authentication fails, but the application just hangs (until it hits some timeout) rather than failing the stream.

[2017-07-12 16:03] raboof commented on #362
We just switched to another backend due to (other) problems with Jsch, could you test if this is still an issue for you on latest master (or on 0.11 once it's out)?

[2017-07-12 16:04] #374 closed

[2017-07-12 16:12] francisdb commented on #181
Interesting, I wonder if there is a similar project for the jvm

[2017-07-12 18:11] hseeberger commented on #206
It seems to be fixed (somehow, not necessarily by #275).

[2017-07-12 18:11] #206 closed

[2017-07-13 08:39] raboof commented on #280
Has been merged in 0.9

[2017-07-13 08:39] #280 closed

[2017-07-13 08:43] raboof commented on #268
Right - perhaps we could even pick some favorites to include them in akka-stream-testkit itself?

[2017-07-13 09:36] raboof opened #400 "NoClassDefFoundError"
Build failure due to strange `java.lang.NoClassDefFoundError: scala/Function0`.

Perhaps (almost) out-of-memory?

[2017-07-13 09:42] raboof commented on #390
By luck triggered it locally, it appears to be a deadlock triggered by a kinesis test:
[code]

[2017-07-13 09:53] raboof commented on #390
@areyouspiffy did you see this too? Any idea how to solve it properly?

[2017-07-13 10:46] raboof opened #402 "Cannot create container for service rabbitmq"
[code]

[2017-07-13 10:54] #66 closed

[2017-07-13 12:44] niranjan-kachhawa opened #403 "A Hook to release all JMS Resourcse when application shutdown."
There is an issue with the prefetch Limit in Alpakka. If we set the prefetch limit to 100 and started consuming messages then after some time if we shutdown the akka consumer application and start it again then the 99 messages will not be acked by the consumer so it wont consumed properly by alpakka. Ideally it should close the consumer or provide a shutdown hook to release all the resources of al

[2017-07-13 14:26] juanjovazquez commented on #380
@raboof This should be labelled as `p:ftp` right?

[2017-07-13 15:53] areyouspiffy commented on #390
@raboof I've seen some [other cases](https://github.com/mockito/mockito/issues/1067) of this happening with mockito recently. I'll take a look. Thanks for the heads up!

[2017-07-13 16:05] jochenschneider opened #404 "S3 connector cannot upload file with ":" in name"
I am getting the following error (note the filename `log-2017-07-08T00:00:00.211`):

    [DEBUG] [07/07/2017 22:00:00.361] [server-akka.actor.default-dispatcher-362] [server/Pool(shared->https://s3-eu-central-1.amazonaws.com:443)] [2] </172.17.0.2:38468->s3-eu-central-1.amazonaws.com:443> Received response: POST /server/log-2017-07-08T00:00:00.211 Strict(0 bytes) -> 403 Forbidden Chunked
    [ERRO

[2017-07-14 03:06] ktoso commented on #201
Note that not silently, as streams have one failure mode - they'll signal error through the stream, if you add a .log() stage it would log the error, otherwise it assumes you're handling it in the pipeline.

But yes, this should be documented but perhaps in separate patterns section.

Ways to handle it are:
- Retry https://github.com/akka/akka-stream-contrib/blob/master/contrib/src/main/scala/akka

[2017-07-14 09:38] jochenschneider commented on #404
Might be fixed by #376, will check.

[2017-07-14 10:17] jochenschneider commented on #404
Just checked, unfortunately not fixed by #376.

[2017-07-14 14:30] #380 closed

[2017-07-14 16:44] areyouspiffy commented on #390
@raboof Looks like the issue is with mockito loading classes when sbt tests are run in parallel. The most straightforward solution I've found is just `parallelExecution in Test := false` in projects that use mockito (which are most tests that use the aws sdk). It worked locally for me, at least. If you'd like I can make a PR for that, or I can keep digging to see if there's a good way to restructu

[2017-07-14 17:06] raboof commented on #390
Wouldn't that make the tests run slower in total?

[2017-07-14 21:07] areyouspiffy commented on #390
All the kinesis tests at the moment only take a few seconds to run on my machine, and adding `parallelExecution in Test := false` for the kinesis project didn't make a difference that I could discern. I can imagine if it had a lot more tests it would though.

[2017-07-14 21:36] calvinlfer opened #405 "Weird behaviour with AmazonSQSBufferedAsyncClient"
Hey there,

I configured the client like so:
[code]

So I can use it like so:
[code]

I was reading up on the AWS documentation and they mention using `com.amazonaws.services.sqs.buffered.AmazonSQSBufferedAsyncClient` to get better performance:
[code]

This seems to work fine locally when you point it to an SQS queue. If you try to deploy this on ECS, it seems to sit there and not pull any message

[2017-07-15 12:52] valepapp opened #406 "CvsToMap in javadsl package is missing public visibility"
Latest version of Alpakka 0.10, alpakka-cvs is making CvsToMap not usable since its missing "public" identifier

[2017-07-15 17:24] aserrallerios commented on #382
I'm working on it. I'll open a PR soon implementing the first Flow that publishes records to Kinesis with retries.

[2017-07-16 17:12] lvn2000 opened #409 "Set attributes in jms.Message on response in jmsSink"
Currently, as I understood, jmsSink just send TextMessage without possibility to set ext.attributes(for example CorrelationId). Would be great if there is possible to set these attributes.

[2017-07-17 08:05] johanandren commented on #406
It is private on purpose, public factory methods for it is available in the `scaladsl` and `javadsl` packages.

[2017-07-17 08:07] #406 closed

[2017-07-17 09:30] raboof opened #410 "KeyfileSftpSourceSpec should fail and report the exception in the result status if connection fails"
Suspected by @juanjovazquez to be related to #386

[code]

[2017-07-17 09:32] raboof commented on #410
Also happened as `akka.stream.alpakka.ftp.RawKeySftpSourceSpec` in https://travis-ci.org/akka/alpakka/jobs/253955266

[2017-07-17 10:14] raboof commented on #290
https://travis-ci.org/akka/alpakka/jobs/253955264

[2017-07-17 10:32] raboof commented on #290
Hm, these tests seem to succeed reliably for me locally, and this is not the first test, so it doesn't appear to be an initialization issue.

Perhaps the next step would be making sure travis dumps the `mqtt` docker container logs after a test failure, so we can see if there's anything interesting in there?

[2017-07-17 11:35] raboof opened #414 "RecordIOFramingSpec: parse a series of records"
https://travis-ci.org/akka/alpakka/jobs/254392980

Looks like an overly tight timeout setting, will widen.

[code]

[2017-07-17 12:48] raboof commented on #410
And `StrictHostCheckingSftpSourceSpec` https://travis-ci.org/akka/alpakka/jobs/254405398

[2017-07-17 13:29] #414 closed

[2017-07-17 14:40] raboof commented on #290
OK nothing obviously wrong here.. https://travis-ci.org/akka/alpakka/jobs/254460747

[code]

[2017-07-18 09:37] raboof commented on #290
and https://travis-ci.org/akka/alpakka/jobs/254777956

[2017-07-18 10:53] Tvaroh commented on #367
Having same issue.

[2017-07-18 12:52] #257 closed

[2017-07-18 12:58] #391 closed

[2017-07-18 14:39] raboof commented on #290
It seems the failing builds have:
[code]
while the succeeding ones don't, but it's unclear wether that's a cause or an effect.

[2017-07-18 20:14] calvinlfer commented on #405
So i did some more digging around and it was a mess-up on my part (forgot environment variables). This actually works properly 😄

[2017-07-18 20:14] #405 closed

[2017-07-19 06:57] aserrallerios commented on #382
https://github.com/akka/alpakka/pull/408

[2017-07-20 10:07] matemagyari opened #420 "Reusing connections in AMQP"
Every `AmqpSource` or `AmqpSink` opens a new connection. It would be preferable if the API gave a possibility to reuse connections and create new channels on it instead.

[2017-07-21 03:35] lewismj commented on #409
Slightly, related to this, I was thinking of something (roughly along the lines of) ....

[code]

Then inside the `JmsSinkStage`

[code]
So that message headers can be applied (I have a use case where this is necessary).

I'd be happy to pick to do this, if someone wanted to confirm a design, i.e. someone from lightbend want be happy to include this? Could have separate maps per type of JMS proper

[2017-07-21 03:51] lewismj commented on #409
I would also maybe add (optional) 'clientId'

[code]

Inside `openSession`, setClientId can be applied if supplied.

Thoughts?

[2017-07-21 09:40] l15k4 opened #421 "[FTP] connectionSettings should be passed implicitly"
https://github.com/akka/alpakka/blob/master/ftp/src/main/scala/akka/stream/alpakka/ftp/scaladsl/FtpApi.scala#L74
https://github.com/akka/alpakka/blob/master/ftp/src/main/scala/akka/stream/alpakka/ftp/scaladsl/FtpApi.scala#L109

The problem is that when you need to use generics :
[code]
You'd get error :
[code]

The reason why people cannot use concrete implementations directly is that usually prod

[2017-07-21 10:16] lvn2000 commented on #409
sounds good..

and maybe possible to realize
 jmsSink funtion apply function, like:

def apply(jmsSettings: JmsSinkSettings): Sink[Message, NotUsed] =
    Sink.fromGraph(new JmsSinkStage(jmsSettings))

and in JmsSinkStage  like:
...
      setHandler(
        in,
        new InHandler {
          override def onPush(): Unit = {
            val elem = grab(in)
           elem match {
             ca

[2017-07-21 12:17] #395 closed

[2017-07-21 12:19] raboof opened #422 "FTP module stability"
We recently did a lot of changes in the FTP module, including #373 and #407.

Things look fairly good, though the tests can be quite slow and "should fail and report the exception in the result status if connection fails" fails suspiciously often on travis (#410).

Do we feel this is ready to be released or does someone want to take a closer look first?

@svezfaz @juanjovazquez @argast @nktpro @eh

[2017-07-21 12:48] raboof commented on #410
Hmm, the failure in https://travis-ci.org/akka/alpakka/jobs/256038302 suggests the `write` is still blocking?
[code]

[2017-07-21 13:34] juanjovazquez commented on #422
As mentioned in #407, the current issues have to do with the testing infrastructure and the fact that they need real FTP servers running to do the job. We're currently starting three different kinds of servers/configurations (FTP, FTPs and sFTP), one instance per `Spec` class. I think that one of the last tests added is running and stopping additional server instances, again one per protocol.

So,

[2017-07-21 14:01] raboof commented on #422
The `should fail and report the exception in the result status if connection fails` test indeed stops and re-starts the test FTP server, so that's one extra cycle per protocol (of which there are 6: FTP, FTPs and 4 different configurations of sFTP).

I'm not sure starting (in-process Java) FTP servers for testing should be a big deal - it would be cool if we could make that run smoothly without di

[2017-07-21 14:44] juanjovazquez commented on #422
Of course, that would be the best case scenario. I'll try to find the time to take a closer look at it. Very busy now though...

[2017-07-21 18:50] lvn2000 commented on #409
I think variant "add properties' taking a list of 'any' " is better..

[2017-07-21 18:51] lvn2000 commented on #409
I think variant "add properties' taking a list of 'any' " is better..

[2017-07-22 10:56] keyursuchdeo commented on #362
Tested with current master code. It's working fine.

[2017-07-22 10:56] #362 closed

[2017-07-24 13:34] raboof commented on #422
But we're good to release alpakka 0.11 in this state?

[2017-07-24 14:36] juanjovazquez commented on #422
IMHO yes, we're safe releasing. I'll spend some time on the testing infra ASAP. Last weekend was impossible as I had to work on other projects :-(.

[2017-07-25 22:42] bayarmunkh commented on #375
The both issues are fixed in the 0.11 release. Many thanks!

[2017-07-26 01:22] 0871087123 opened #425 "Mqtt connector got a 'null' client when subscribe a topic"
I found that when subscribe a topic in handleConnection
[code]
I got a null client
And, I think it may something wrong in org.eclipse.paho.client.mqttv3, then i tried :
[code]
In async callback method, the asyncActionToken does not contain a valid client, the asyncActionToken.client is null , so may i fix this and commit a pull request?

[2017-07-26 01:27] 0871087123 commented on #425
Sorry, it a library problem
I imported org.eclipse.paho.client both v1.0.2 and v1.1.0
Remove v1.0.2 works

[2017-07-26 01:27] #425 closed

[2017-07-26 11:13] hseeberger commented on #375
Sure thing!

[2017-07-26 12:48] lvn2000 commented on #409
Hello,

I've seen in version alpakka version 0.11 possibility to set properties in JmsMessage. Super! Thank you. Sorry, but I don't understand - how can be set property of message in case when client is sending message builded using alpakka to server where consumer that developed on Java with checking JmsCorrelationId, like:

`
import org.apache.activemq.{ActiveMQConnectionFactory, ActiveMQSession

[2017-07-27 09:13] juanjovazquez commented on #422
It seems we might be facing a problem of low entropy on Travis VMs. We might need to configure jvm opts to use `/dev/urandom` instead of `/dev/random` as a random generation device. Still working on it.

[2017-07-27 17:01] andyoll opened #426 "Publishing messages to GCP Pub/Sub not working."
Example code to publish messages in https://github.com/akka/alpakka/blob/master/google-cloud-pub-sub/src/test/scala/akka/stream/alpakka/googlecloud/pubsub/ExampleUsage.scala does not work.
No messages are published.
OAuth access token is created ok, But HTTP request to publish a message results in a 400 response:
` {"code":400,
"message":"API key not valid. Please pass a valid API key.",
"status":

[2017-07-27 17:12] andyoll commented on #426
please consider this pull request: https://github.com/akka/alpakka/pull/427

[2017-07-28 09:37] rafacm commented on #149
Support for JMS Selectors implemented in #200. IMHO this issue can be closed.

[2017-07-28 10:10] raboof commented on #149
:+1:

[2017-07-28 10:10] #149 closed

[2017-07-28 12:06] rucek opened #428 "Allow CsvParsingStage to emit lines without a newline character before the upstream completes"
Currently, if the last line in a CSV file doesn't contain a newline character, it's only emitted downstream when the upstream completes. So I was wondering whether it would be reasonable to modify `CsvParsingStage` to expose the `requireLineEnd` value in `tryPollBuffer` as a class field, so that it becomes configurable when instantiating the stage (with a default value of `true` to keep the curren

[2017-07-29 18:53] francisdb commented on #171
This should be fixed in v0.11
@rodricifuentes1 can you please confirm and close?

[2017-07-29 18:56] francisdb commented on #192
Listing bucket contents is currently available including object metadata (#347). Please close.

[2017-07-29 19:03] francisdb commented on #84
What exactly would an 'akka extension' bring compared to what is currently available?
Isn't it already possible to have multiple clients in one jvm?

[2017-07-29 19:06] francisdb commented on #139
@neowulf33 could you provide example code to reproduce this? Sounds like an old bug that might not be there any more

We should probably add a Get bucket info call returning an Option that would allow you to add the check in your code. Don't think this is something alpakka should be doing for every upload.

[2017-07-29 19:09] francisdb commented on #194
I would mimic the official client. How do you set it there? (also check their new async client)

[2017-07-29 19:11] francisdb commented on #271
This is still a valid issue, the current raw request only allows GET.

[2017-07-29 19:20] francisdb commented on #404
Might look into this one, I guess we are still missing an exceptional encoding handling at
https://github.com/akka/alpakka/blob/master/s3/src/main/scala/akka/stream/alpakka/s3/auth/CanonicalRequest.scala#L48

[2017-07-30 12:48] joost-de-vries commented on #372
@raboof Arnout, this is also relevant for the label `p:dynamodb`...

[2017-07-30 18:11] agolubev commented on #84
@francisdb  it's about having configuration along with akka configuration. Extensions fill natively within akka ecosystem (clustering and typed actors are also extensions).
Right now s3 has an implementation for using in streams but not pretty match in actors - that's the reason for adding an extension support.
Also, currently it can be loaded only as a single instance from a conf file.

[2017-07-31 04:13] #404 closed

[2017-08-01 05:45] d2e8f9 commented on #199
Please take a look at the commit above and let me know if something is missing. The JmsSink and JmsSource supports now Byte-, Map- and ObjectMessages according to the Jms spec.

Therefore  a JmsMessage trait is introduced and refactored out to a separate file.
The logic to create and populate the Jms messages is still inside the JmsSinkStage. I would move it from there to another place, but I don'

[2017-08-01 21:00] d2e8f9 commented on #199
Please see #430

[2017-08-02 09:37] dobrynya opened #431 "Please consider to include Reajames functionality to Alpakka/JMS Connector"
[Reajames](https://github.com/dobrynya/reajames/wiki) is JMS connector written in terms of pure org.reactive-streams specifications. It allows to operate any JMS aspect during sending/receiving JMS messages. So you can easily implement such integration patterns as Request - Reply.  I use Reajames in Akka Stream environment, it's stable enough in production.

[2017-08-02 10:25] johanandren commented on #431
Since the library has RS connectors nothing more is needed to use it with Akka streams. `Source.fromPublisher` and `Sink.fromSubscriber` is all you need.

It's more like an alternative library than something to include as far as I can see?

[2017-08-05 12:53] TimothyKlim commented on #422
After updating alpakka with new sftp dependency, I've got race conditions and strange sshj exceptions:
[code]
We've faced this every 5 minutes after node restart. We're using `alpakka-ftp` to uploading image thumbnails through sftp, 5-10 files per second. Sshd logs are clean, when sshj is failed.

Is new ssh library stable enough to use in alpakka?

[2017-08-05 17:20] jaymell opened #433 "Kinesis Support for KPL and KCL Libraries"
Hello: I wanted to see whether anyone has investigated the feasibility of writing a Kinesis connector that supports  AWS's [Producer](https://github.com/awslabs/amazon-kinesis-producer) and [Consumer](https://github.com/awslabs/amazon-kinesis-client) libraries.

The advantage is that the producer library already supports aggregation of records both by batching records in requests and by aggregatin

[2017-08-06 09:17] aserrallerios commented on #433
I've opened a PR of a Flow that uses the low-level sdk to PUT records. After that, I'll open a PR of a Source using KCL; i'ts already tested and implemented, I'm just finishing the migration to alpakka.

So the only missing piece would be a Flow that PUTs records using KPL. I guess I can have a look at it after finishing the KCL Source.

[2017-08-06 18:11] aserrallerios commented on #433
https://github.com/akka/alpakka/pull/434

[2017-08-06 18:42] jaymell commented on #433
@aserrallerios I was planning to work on the consumer side this week, so I will use your branch as a starting point. Thanks so much for the link!

[2017-08-06 21:20] aserrallerios commented on #433
Oh, I'll keep working on it, just minor tweaks and near trivial tests are missing.

[2017-08-06 21:50] jaymell commented on #433
@aserrallerios Sounds great. I will work to integrate our existing app using your branch -- will be glad to provide any feedback as I do so.

[2017-08-08 00:39] akara opened #435 "Add Akka Streams component list from squbs project to Alpakka"
This is an issue for me to contribute the list of our Akka Streams (external) components to Alpakka docs.

[2017-08-08 08:37] Slakah opened #437 "DynamoDB client uses ActorMaterializer instead of Materializer"
`DynamoClientImpl` accepts an `ActorMaterializer` when it could use the more specific type of `Materializer` (see: https://github.com/akka/alpakka/blob/master/dynamodb/src/main/scala/akka/stream/alpakka/dynamodb/impl/DynamoClientImpl.scala#L20).

Other clients, such as the s3 client use a `Materializer` instead (see: https://github.com/akka/alpakka/blob/master/s3/src/main/scala/akka/stream/alpakka

[2017-08-08 08:39] Slakah commented on #437
#438

[2017-08-08 09:06] juanjovazquez commented on #422
@TimothyKlim According to the stack trace, this seems to be an application [error](https://github.com/hierynomus/sshj/blob/93bf6c0089fe950cb0b15c49fe00f7326c487b37/src/main/java/net/schmizz/sshj/transport/TransportImpl.java#L195) on the transport layer. The client is no receiving a proper identification message from server. Do you have access to the server log?. Maybe this server is limiting the n

[2017-08-08 11:20] #437 closed

[2017-08-10 02:51] tkroman commented on #367
One reason for that might be that `InstanceProfileCredentialsProvider` refreshes these things every minute, so they might get outdated or something like that. Are you sure that's not the case?

@raboof do you think alpakka should support dynamic credential resolution? Using implicit credentials provided via the EC metadata service on AWS is a pretty common thing. I could try to do it if I find som

[2017-08-10 04:58] hochgi commented on #428
Is there a way to ensure that unreceived input won't contain the rest of the line, which may not be a `\n`?
Maybe, instead of a boolean, you can take a `FiniteDuration` as "emitEagerlyWithin", which will make the flow wait for more input, and only emit when time elapses, if no `\n` has been received since last `onPush`

[2017-08-10 08:05] cheleb opened #439 "Neo4j support"
I would be happy to provide a connector for neo4.

[2017-08-11 20:45] d2e8f9 opened #441 "JMS: Support individual time-to-live of jms messages in JmsSinkStage during sending"
At the moment exists only the possibility to set a default timeToLive for messages at the jms producer. I would like to enhance this behavior to support an individual time-to-live. This can be done with the method

` jmsProducer.send(message, deliveryMode,priority, timeToLiveInMillis)`

In order to pass the time-to-live to the JmsSinkStage i would like to enhance the JmsTextMessage with this infor

[2017-08-11 21:13] d2e8f9 opened #442 "JMS: Provide a possibility to read the JMSMessageId after sending in JmsSinkStage"
The jms provider creates and sets the **JMSMessageId** to the jms message, which was sent. This **JmsMessageId** could be used as message selector for incoming replies. The communication scenario would be:

1.  Client sent message via **JmsSinkStage**

2. Server receives message and send and reply back to the client, where the JMSMessageId of received message is used as JMSCorrelationId for the re

[2017-08-12 09:09] dobrynya commented on #431
You are right as I can use reajames in Akka Streams using AS adapters. But currently there is no way to use Alpakka JMS connector in real life as we need more control over JMS channel. So I believe that my approach applied in reajames is useful and can be used in Alpakka JMS connector.
As I can see issues https://github.com/akka/alpakka/issues/441 and https://github.com/akka/alpakka/issues/442 are

[2017-08-14 22:02] rtimush opened #443 "DynamoDB: Support receiving all pages of scan and query operations"
DynamoDB `Scan` and `Query` operations are paged by nature — even if not requested explicitly, the result is truncated at 1 MB of data. Clients are expected to repeat requests with `ExclusiveStartKey ` set to `LastEvaluatedKey` obtained from the response (see [Query Pagination](http://docs.aws.amazon.com/amazondynamodb/latest/developerguide/Query.html#Query.Pagination) and [Scan Pagination](http:/

[2017-08-15 08:56] #431 closed

[2017-08-17 16:08] carstenlenz commented on #181
We use https://github.com/findify/s3mock
Sadly there are some issues with Alpakka S3 and S3Mock.

[2017-08-17 16:11] l15k4 commented on #181
Yeah, I've been using both. But I'm way more productive with fake-s3, s3mock had too many issues, fake-s3 is almost flawless for testing purposes.

[2017-08-18 08:20] abelbryo commented on #142
I keep getting the same error and I am using version `0.11`
[code]

[2017-08-18 11:52] l15k4 commented on #353
I can confirm that this is happening even in `0.10` and `0.11`.

[2017-08-18 12:33] juanjovazquez commented on #353
@l15k4 Just to be sure, please can you confirm that you're setting `binary = true` in your FTP configuration?.

[2017-08-18 12:37] l15k4 commented on #353
@juanjovazquez yes, `passive=true` and `binary=true`. It happens only ~ 1 from 5 000 files, but still, one cannot get defensive and double-check MD5 hashes as that information is only available on s3, not FTP.

[2017-08-18 12:48] juanjovazquez commented on #353
@l15k4 Anything special about these particular files (size, name, etc)?. Of course, you are able to download them using another tool with no issues, right?.

[2017-08-18 12:51] l15k4 commented on #353
@juanjovazquez nothing special, they are almost equally sized (partitioned data), the same origin, there is no apparent networking problem, the machine has plenty resources.

Yeah the source file is valid.

[2017-08-18 12:56] l15k4 commented on #353
@juanjovazquez Can you think of a way how to get defensive?

S3 should be doing that under the hood, so if there is no error and it returns success response, then it sounds like there are 2 problems :
1) data loss
2) md5 checking not working on s3 side

[2017-08-18 13:13] juanjovazquez commented on #353
@l15k4 Wrt the possible data loss, we should determine where the issue arises whether in the FTP source or in the S3 sink. If it's viable on your side, you might decompose the ETL process in two parts and test both sides independently, i.e. FTP -> File (local)  + File (local) -> S3.

As for the md5 checking I can't tell as I'm not involved in the S3 component.

[2017-08-20 14:37] joost-de-vries opened #446 "improve usability of Dynamodb `flow`"
The current `flow` implementation requires casting of the returned result in a way that's not very handy or intuïtive.
In fact I find myself forgoing the use of `flow` completely and just use `client.single` which returns a Future. As a result I end up using none of the streams support. As if I was using a simple async dynamodb client!

I've fiddled around a bit with the implementation of `flow`.

[2017-08-20 15:47] joost-de-vries opened #447 "support for Dynamodb Streams"
I've implemented a first naïve support for Dynamodb Streams. You can find the implementation [here](https://github.com/joost-de-vries/alpakka/blob/dynamodb-streams-wip-1/dynamodb/src/main/scala/akka/stream/alpakka/dynamodb/Streams.scala).
And [this](https://github.com/joost-de-vries/alpakka/blob/dynamodb-streams-wip-1/dynamodb/src/test/scala/akka/stream/alpakka/dynamodb/StreamsSpec.scala) is how t

[2017-08-21 09:29] joost-de-vries commented on #443
Cool. Have you considered using `Source.unfoldAsync` for the pagination logic? Might make the implementation more simple...

[2017-08-21 10:07] dpfeiffer commented on #443
@joost-de-vries I thought about adding better support for common paginated sources (in my opinion `Source.unfoldAsync` is cumbersome if you just want to provide a paginated resource). I already created a ticket in `akka/akka-stream-contrib` https://github.com/akka/akka-stream-contrib/issues/93. Maybe this could also benefit from it?

[2017-08-21 11:10] rtimush commented on #443
@joost-de-vries I had an impression that implementing it as a single graph has some benefits comparing to one graph asynchronously calling another. However, after some thinking I don't see a big difference, and `unfoldAsync` will probably result in a simpler code.

[2017-08-21 11:30] joost-de-vries commented on #443
I definitely think that it's not so easy to find `Source.unfoldAsync` when you're thinking about "how do I call this paginated api". So some kind of help for new users would be useful.
 Now I'm a bit used to it I find it pretty easy to implement though. It's a very generic api.
I hadn't seen that PR @dpfeiffer . Nice. For me personally a cookbook example or a `Spec` file in Alpakka would probably

[2017-08-22 10:21] mikesname commented on #142
@abelbryo  Also seeing this error on `0.11`, but, seemingly, only when my bucket region didn't match that set on the multipart upload sink - maybe something to check?

[2017-08-22 11:15] abelbryo commented on #142
@mikesname Thanks for the reply. I have only one region `us-east-1` and it is not obvious to me how you can "set" the region on the multipart upload sink. Here is the code as found in the spec. Also, downloading and list bucket operations work. Only upload seems to be the issue.

```val sink = client.multipartUpload(bucket, key, metaHeaders = MetaHeaders(metaHeaders))```

[2017-08-22 20:31] rtimush commented on #443
I realized what is the difference between `unfoldAsync` and my implementation. `unfoldAsync` will internally materialize a new graph for every page, while the cyclic graph implementation will materialize it only once. I suppose this makes some performance impact (probably, negligible comparing to the actual DynamoDB query cost), but the bigger issue is that multiple materializations doesn't allow

[2017-08-23 07:32] michaelyaakoby opened #448 "Parallel file-system walker/scanner"
Hi,
I happened to build a while ago a stream-source that recursively scans a file-system using multiple threads - it is much faster then the regular BFS/DFS scanning.
If you think this can fit into the File component, I'll be happy to contribute.
M.

[2017-08-23 09:10] 2m commented on #448
Hi, this sounds interesting. How did you manage parallelism? Was it manual by starting and stopping threads, or did you use some existing stream combinatorics, like mapAsync?

[2017-08-23 11:46] michaelyaakoby commented on #448
Its a custom graph stage, using futures for the ".next" of the dir-iterator which are flattened into the stream similar to mapAsyncUnordered. The algorithm is kind of parallel BFS, so everytime a directory is encountered it is enqueued to be listed later.
In order to respect the "streaming expected behavior", it'll never list more then the downstream can take.

[2017-08-23 15:18] ccheneson opened #450 "Error trying to get a shard iterator from Kinesis stream"
With `scala 2.12.3`, I have tried the `akka-stream-alpakka-kinesis` `v0.11` and I got the error

This is due to an incompatible version of `jackson-dataformat-cbor (v2.6.6) ` and `jackson-core (v2.8.8) ` which `akka-stream-alpakka-kinesis` depends on.

One workaround is to upgrade the jackson-dataformat-cbor to the latest `2.9.0`

[code]

I got the information necessary to debug from `KinesisSourc

[2017-08-24 17:27] areyouspiffy commented on #446
👍 I went down that road a bit [here](https://github.com/akka/alpakka/compare/master...areyouspiffy:178-AWS-Lex#diff-3094190b6c072f8695a7a1973ddd9844R57) but never really finished. Great idea!

[2017-08-25 20:50] ssturdivant commented on #104
Where does this ticket lie on the development roadmap? I have a project requiring application-level JMS ack, and need to decide between waiting for this ticket or implementing another solution.

Thanks.

[2017-08-26 18:36] joost-de-vries commented on #446
Glad you like it. I created a PR: #451

[2017-08-26 18:38] joost-de-vries commented on #447
@areyouspiffy I think you've implemented Dynamodb Streams once. Do you have any ideas on this?

[2017-08-27 12:27] joost-de-vries commented on #443
@rtimush Interesting. `multiple materializations doesn't allow the internal HTTP connection pool to backpressure` In what sense do you mean 'backpressure'? I think that in general the completion of the `Future` that you return in Akka Streams apis provides backpressure. An async library doesn't need to be 'backpressure enabled' right?
Maybe I'm misunderstanding your point.

[2017-08-28 17:46] patriknw commented on #104
Akka team is not working on this and we don't have it in plans for the next month.

[2017-08-29 07:21] mpricope opened #452 "FTP - Ability to limit the ls function when recursively traversing remote folders"
Currently when you call one of the Ftp.ls functions like:
[code]
It recursively list the remote paths. Sometimes this can be sub-optimal (if you want to get the content of a folder but avoid it's sub-folders for example).

I made a little extension of the method that also accepts a
[code]
to decide if it should go on that folder or not.

Like:
[code]

Would be happy to contribute if anyone else is

[2017-08-29 08:51] juanjovazquez commented on #397
@raboof Please, could you clarify which would be the expected output?. After executing your program in REPL and inspecting the value of `done` I get:

[code]
`Sftp.ls` produces a stream with no materialization so, in my opinion the outcome is correct, a failed future wrapping the underlying authentication exception. What am I missing?.